{% style %}
	.smi-media-wrapper{aspect-ratio:var(--media-ratio)}.smi-media-wrapper:hover img,.smi-media-wrapper:hover svg,.smi-media-wrapper:hover video,.smi-media-wrapper:hover iframe,.smi-media-wrapper:hover div{clip-path:polygon(var(--shape-hover));transition:all .4s}.smi-blob-wrapper.smi-has-blob{border:none !important;box-shadow:none !important}shopify-editor shopify-editor-preview-inspector{z-index:99 !important}.smi-section-image-with-text-2{overflow:hidden}.smi-section-image-with-text-2 .smi-slider-dot-container{margin-top:calc(var(--spacing-elements)*36px)}.smi-section-image-with-text-2 .no-margin-top .smi-slider-dot-container{margin-top:calc(var(--spacing-elements)*0px) !important}.smi-section-image-with-text-2 .swiper-button-disabled{visibility:hidden}.smi-section-image-with-text-2 .not-slider-overflow{overflow-x:clip !important}.smi-section-image-with-text-2__main>.smi-container-fluid,.smi-section-image-with-text-2__main>.smi-container{position:relative}.smi-section-image-with-text-2__main>.smi-container-fluid .smi-swiper-navigation{visibility:hidden;opacity:0}.smi-section-image-with-text-2__main>.smi-container-fluid:hover .smi-swiper-navigation{visibility:visible;opacity:1}.smi-section-image-with-text-2__main .smi-swiper .swiper-wrapper:has(>.swiper-slide:only-child){justify-content:center}.smi-section-image-with-text-2__main .smi-swiper .swiper-slide:only-child{max-width:800px}.smi-section-image-with-text-2__main .smi-swiper .swiper-slide:last-child{margin-right:0 !important}.smi-section-image-with-text-2__main .swiper-slide{width:var(--card-width-xs);opacity:0;transition:opacity .3s ease-in-out}@media screen and (min-width: 768px){.smi-section-image-with-text-2__main .swiper-slide{width:var(--card-width-md)}}@media screen and (min-width: 992px){.smi-section-image-with-text-2__main .swiper-slide{width:var(--card-width-lg)}}@media screen and (min-width: 1200px){.smi-section-image-with-text-2__main .swiper-slide{width:var(--card-width-xl)}}.smi-section-image-with-text-2__main .swiper-slide.swiper-slide-visible{opacity:1}.smi-section-image-with-text-2__main .swiper-slide.swiper-slide-show{opacity:1 !important}.smi-section-image-with-text-2__main:not(.smi-slide-overflow) .smi-swiper{overflow-y:visible;overflow-x:clip}@media screen and (min-width: 768px){.smi-section-image-with-text-2__main:not(.smi-slide-overflow) .smi-swiper{--shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));--shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));overflow-y:visible;margin-left:min(0px,var(--shadow-padding-sides-negative)*-1);margin-right:min(0px,var(--shadow-padding-sides)*-1);padding-left:max(0px,var(--shadow-padding-sides-negative));padding-right:max(0px,var(--shadow-padding-sides))}.smi-section-image-with-text-2__main:not(.smi-slide-overflow) .swiper-slide{transition:opacity .2s}.smi-section-image-with-text-2__main:not(.smi-slide-overflow) .swiper-slide.swiper-slide-visible{opacity:1}.smi-section-image-with-text-2__main:not(.smi-slide-overflow) .swiper-slide.swiper-slide-show{opacity:1 !important}}.smi-section-image-with-text-2__main.smi-slide-overflow .smi-swiper{overflow:visible}@media screen and (max-width: 767.8px){.smi-section-image-with-text-2__main .smi-swiper{overflow:visible}}.smi-section-image-with-text-2 .smi-hover-bg-image-zoom{overflow:visible}.smi-section-image-with-text-2 .smi-text-75{opacity:.75}.smi-section-image-with-text-2 .smi-custom-dots{position:relative;z-index:1}.smi-section-image-with-text-2 .smi-component-buttons{width:fit-content;width:100%}.smi-section-image-with-text-2 .smi-component-button-left{justify-content:left}.smi-section-image-with-text-2 .smi-component-button-center{justify-content:center}.smi-section-image-with-text-2 .smi-component-button-right{justify-content:right}.smi-section-image-with-text-2 iframe.smi-background-video{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.smi-section-image-with-text-2 video.smi-background-video{object-fit:cover;width:100%;height:100%}.smi-section-image-with-text-2 .smi-items{position:relative}.smi-section-image-with-text-2 .smi-items .smi-swiper{overflow:visible;overflow-y:visible}.smi-section-image-with-text-2 .smi-items .swiper-wrapper .swiper-slide{height:unset}.smi-section-image-with-text-2 .smi-items .swiper-wrapper .swiper-slide .smi-item{height:100%}.smi-section-image-with-text-2 .smi-items .smi-item{flex-direction:column;height:100%}.smi-section-image-with-text-2 .smi-items .smi-item .smi-item-content{box-sizing:border-box;text-align:var(--content-alignment);flex:1;border-top-left-radius:0;border-top-right-radius:0;border-top:0}.smi-section-image-with-text-2 .smi-items .smi-item .smi-item-content.smi-has-product{display:flex;flex-direction:column;justify-content:space-between;flex:1}.smi-section-image-with-text-2 .smi-items .smi-item__author{text-align:var(--content-alignment)}.smi-section-image-with-text-2 .smi-items .smi-item__author .smi-name{justify-content:var(--content-alignment)}.smi-section-image-with-text-2 .smi-items .smi-item__author .smi-name__verified span{color:var(--color-verified)}.smi-section-image-with-text-2 .smi-items .smi-item__author .smi-name svg{width:calc(16px*var(--font-body-scale));width:calc(16px*var(--font-body-scale));stroke:var(--color-verified)}.smi-section-image-with-text-2 .smi-items .smi-item__author .smi-name svg path{fill:var(--color-verified)}.smi-section-image-with-text-2 .smi-items .smi-item__author .smi-info{justify-content:var(--content-alignment)}.smi-section-image-with-text-2 .smi-items .smi-item__author .smi-info p{word-wrap:break-word;max-width:calc(100% - 32px)}.smi-section-image-with-text-2 .smi-items .smi-item__product{border-top:1px solid rgba(var(--color-foreground), 0.15);justify-content:var(--content-alignment)}.smi-section-image-with-text-2 .smi-items .smi-item__product .smi-product-image{min-width:50px;min-height:50px;position:relative;display:block;border-radius:var(--media-radius);overflow:hidden}.smi-section-image-with-text-2 .smi-items .smi-item__product .smi-product-image img{left:0;top:0;position:absolute;width:100%;height:100%;object-fit:cover}.smi-section-image-with-text-2 .smi-items .smi-item__media{position:relative;display:flex;line-height:0;overflow:hidden}.smi-section-image-with-text-2 .smi-items .smi-item__media:before{content:"";background:rgba(0,0,0,0);width:100%;height:100%;position:absolute;z-index:-1}.smi-section-image-with-text-2 .smi-items .smi-item__media.smi-autoplay-false{align-items:center}.smi-section-image-with-text-2 .smi-items .smi-item__media.smi-autoplay-false video{height:auto}.smi-section-image-with-text-2 .smi-items .smi-item__media img{width:100%;height:100%;object-fit:cover}.smi-section-image-with-text-2 .smi-items .smi-item__media svg.smi-default-image{position:absolute;width:102%;height:102%;object-fit:cover}.smi-section-image-with-text-2 .smi-items .smi-item__media video,.smi-section-image-with-text-2 .smi-items .smi-item__media video>*{width:100%;height:100%}.smi-section-image-with-text-2 .smi-items .smi-item__media iframe{border:none}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-cover-image{z-index:1;left:0;top:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-cover-image img{left:0;top:0;width:100%;height:100%;object-fit:cover}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-cover-image__play-button{position:absolute;z-index:2;display:flex;padding:16px;align-items:center;justify-content:center;border-radius:100px;border:2px solid #fff;background:rgba(0,0,0,.1);backdrop-filter:blur(1.5px);cursor:pointer;transition:all .5s ease}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-cover-image__play-button svg{stroke:#fff}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-cover-image__play-button svg path{fill:#fff}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-cover-image__play-button:hover{scale:1.05}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-volume{position:absolute;bottom:20px;right:20px;cursor:pointer}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-volume svg{stroke:#fff}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-volume svg path{fill:#fff}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-volume svg:nth-child(2){display:none}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-volume.up svg:nth-child(1){display:none}.smi-section-image-with-text-2 .smi-items .smi-item__media .smi-volume.up svg:nth-child(2){display:block}.smi-section-image-with-text-2 .smi-items .smi-component-arrow-slider{z-index:9;display:flex;width:min(100% + 128px,100vw - 60px);min-width:calc(100% + 46px);position:absolute;top:50%;left:50%;transform:translateX(-50%)}.smi-section-image-with-text-2 .smi-items .smi-component-arrow-slider .swiper-button-lock{display:none !important}.smi-section-image-with-text-2 .smi-items .smi-component-arrow-slider .arrow-icon{cursor:pointer;position:absolute;top:50%;transform:translateY(-50%);z-index:10;left:0}.smi-section-image-with-text-2 .smi-items .smi-component-arrow-slider .arrow-icon.arrow-slider-right{left:auto;right:0}.smi-section-image-with-text-2 .smi-items.smi-items-single{max-width:800px;margin-left:auto;margin-right:auto}.smi-video-modal-2shopify-editor-preview-block{display:none}.smi-video-modal-2 .smi-default-image{object-fit:cover}.smi-video-modal-2 .smi-upload-video{line-height:0}.smi-video-modal-2 .smi-upload-video video{width:100%;height:100%}.smi-video-modal-2 .smi-video-url{line-height:0;position:relative;width:100%;padding-bottom:56.25%}.smi-video-modal-2 .smi-video-url iframe{border:0;z-index:1;position:absolute;top:50% !important;left:50% !important;width:100% !important;height:100% !important}@media screen and (min-width: 768px){.smi-section-image-with-text-2 .smi-items .smi-swiper{--shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));--shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));margin-left:min(0px,var(--shadow-padding-sides-negative)*-1);margin-right:min(0px,var(--shadow-padding-sides)*-1);padding-left:max(0px,var(--shadow-padding-sides-negative));padding-right:max(0px,var(--shadow-padding-sides))}}@media screen and (max-width: 767px){.smi-section-image-with-text-2{overflow:clip}.smi-section-image-with-text-2 .smi-component-arrow-slider{display:none !important}.smi-section-image-with-text-2 .smi-items .smi-swiper{overflow:visible}.smi-section-image-with-text-2 .smi-items:not(.smi-items-1) .swiper-slide-mobile-1{width:calc(100%/var(--number-mobile) - 60px) !important}.smi-section-image-with-text-2 .smi-items:not(.smi-items-1) .swiper-slide-mobile-1-over{width:calc(100%/var(--number-mobile) - 60px) !important}.smi-section-image-with-text-2 .smi-items:not(.smi-items-1) .swiper-slide-mobile-2{width:calc(100%/var(--number-mobile) - 30px) !important}.smi-section-image-with-text-2 .smi-items:not(.smi-items-1) .swiper-slide-mobile-2-over{width:calc(100%/var(--number-mobile) - 30px) !important}.smi-section-image-with-text-2 .smi-cover-image__play-button{padding:14px !important}}
{% endstyle %}
{% comment %}#component#["settings/heading","settings/content-alignment","settings/media-settings-3","settings/slider-arrows","settings/slider-dots","settings/section-padding","blocks/background","settings/design-mode","settings/animation-settings"]#endcomponent#{% endcomment %}
{{ 'smi-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'smi-swiper-bundle.min.js' | asset_url }}" defer data-id="swiper"></script>
<script src="{{ 'smi-slider.min.js' | asset_url }}" defer data-id="review"></script>
{%- liquid
    assign block_images = section.blocks | where: 'type', 'image_block'
    assign block_videos = section.blocks | where: 'type', 'video_block'
    assign block_size = block_images.size | plus: block_videos.size
    assign grid_horizontal = settings.smi_spacing_grid_horizontal
    assign auto_play = section.settings.auto_rotate_slides
    assign speed = section.settings.change_slide_every | times: 1000
    assign desktop_items = section.settings.slider_items | times: 1
    assign dot_style = section.settings.sticky_page_dot_style
    if block_size < desktop_items
        assign desktop_items = block_size
    endif
    assign tablet_items = 2
    assign mobile_items = section.settings.number_of_columns_on_mobile
    if desktop_items == 1
        assign tablet_items = 1
    endif    
    assign custom_blocks_video = section.blocks | where: 'type', 'video_block' | size
    assign custom_blocks_video = section.blocks | where: 'type', 'image_block' | size
    assign custom_blocks = custom_blocks_video | plus: custom_blocks_video
    assign block_length = custom_blocks | size
    assign slides_per_view_mobile = 1 | plus: 0.2 | at_most: block_length
  -%}
<style>
  {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
  #smi-{{ section.id }}{
      --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
      --heading-alignment: {{ section.settings.heading_alignment }};
      --content-alignment: {{ section.settings.content_alignment }};
      --color-rating: {{ section.settings.color_rating }};
      --color-verified: {{ section.settings.color_verified }};
      --number-mobile: {{ mobile_items }};
      {% comment %} --card-width-xs: {{ slides_per_view_mobile | minus: 1 | times: space_between_mobile | prepend: 'calc((100% - ' | append: 'px)/' | append: slides_per_view_mobile | append: ')'  }}; {% endcomment %}
  }
  {% if colorblock %}
    #smi-{{ section.id }} .smi-item-content{
        --color-background: {{ colorblock.settings.content_background_color.red }}, {{ colorblock.settings.content_background_color.green }},{{ colorblock.settings.content_background_color.blue }};
        {% if colorblock.settings.content_background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.content_background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.content_background_gradient_color }};
        {% endif %}
        --color-foreground: {{ colorblock.settings.content_text_color.red }}, {{ colorblock.settings.content_text_color.green }},{{ colorblock.settings.content_text_color.blue }};
        --color-shadow: {{ colorblock.settings.content_shadow_color.red }}, {{ colorblock.settings.content_shadow_color.green }},{{ colorblock.settings.content_shadow_color.blue }};
    }
  {% endif %}
</style>
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-image-with-text-2 smi-color-{{ section.settings.color_scheme }}" data-section="image-with-text-2" data-name="✧Image with text 2">
   
  {% render 'smi-background' %}
  <div class="smi-container">
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{section.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = section.settings.heading | strip
    assign sub_heading = section.settings.sub_heading | strip
    assign description = section.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = section.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{%- assign heading = section.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ section.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
  </div>
  {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
  <div class="smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%}">
    <div class="smi-items smi-content-wrapper {% if desktop_items == 1 %} smi-items-single {% endif %} {% if block_size == 1 %} smi-items-1 {% endif %} {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}
      ">
        <div
            class="swiper smi-swiper  {% if section.settings.slider_overflow == false %} not-slider-overflow {% endif %}"
            data-slider='{ 
                "destopItems": {{ desktop_items }},
                "tabletItems": {{ tablet_items }},
                "mobileItems": {{ mobile_items }},
                "autoPlay": {{ auto_play }}, 
                "speed": {{ speed }}, 
                "dotStyle": "{{ dot_style }}" 
            }'
          >
        <div class="swiper-wrapper">
          {% assign shape_index = 1 %}
          {% for block in section.blocks %}
            {% if block.type == 'video_block' or block.type == 'image_block' %}
              {%-liquid
    assign media_ratio = section.settings.media_ratio
    assign media_shape = section.settings.media_shape
    assign media_classes = 'smi-w-100 smi-object-fit-cover '
    if media_shape != 'default' and media_shape != 'round'
        if shape_index > 6
            assign shape_index = 1
        endif
        if shape_index < 6 
            assign forloop_next = shape_index | plus: 1
        else
            assign forloop_next = 1
        endif
        assign media_classes = media_classes | append: ' smi-shape-blob-' | append: shape_index
        assign shape_index = shape_index | plus: 1
        assign shape_hover = '--shape-blob-' | append: forloop_next
    endif
    if media_ratio == 'auto' 
        assign media_classes = media_classes | append: ' smi-h-auto'
    else
        assign media_classes = media_classes | append: ' smi-h-100 smi-p-absolute'
    endif
    assign media_wrapper_classes = 'smi-media-wrapper smi-border smi-shadow smi-lh-0 smi-overflow-hidden smi-p-relative smi-' | append: media_shape
    if media_shape contains 'blob'
        assign media_wrapper_classes = media_wrapper_classes | append: ' smi-blob-wrapper smi-has-blob'
    endif
-%}
                {%- liquid
    assign author_name = block.settings.author_name | strip
    assign author_info = block.settings.author_info | strip
    assign verified_buyer = block.settings.verified_buyer
    assign nation = block.settings.nation
    assign heading = block.settings.heading | strip
    assign description = block.settings.description | strip
    assign image = block.settings.image
    assign product = block.settings.product
    assign has_product = ''
    if product != blank
        assign has_product = 'smi-has-product'
    endif
-%}
{% assign img_classes = media_classes %}
<div class="swiper-slide swiper-slide-{{ forloop.index }} 
    {% if block.type == 'video_block' %} swiper-slide-video_block is-active-play-{{ block.settings.autoplay }}{% endif %}
    {% if section.settings.slider_overflow == false %}
    swiper-slide-mobile-{{ section.settings.number_of_columns_on_mobile }}
        {% else %}
        swiper-slide-mobile-{{ section.settings.number_of_columns_on_mobile }}-over
    {% endif %}
    " data-autoplay="{{ block.settings.autoplay }}" {{- block.shopify_attributes -}} data-swiper-slide-index="{{ forloop.index0 }}">
    <div class="smi-item smi-d-flex  {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}">
        {%- if block.type == 'image_block' -%}
            <div class="smi-item__media smi-lh-0 smi-media-wrapper smi-media {{ media_wrapper_classes}} {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}" 
                style="--media-ratio: {{ media_ratio }}; --shape-hover: var({{ shape_hover }})" data-type="image" data-key="b.image_block.image">
                {% comment %} <div class="smi-cover-image"
                    onclick="smiLiteModal.open('#modal_{{section.id}}{{block.id}}')"> {% endcomment %}
                    {% assign img_classes = media_classes | append: 'smi-default-image' %}
                    {%- if image != blank -%}
                        {{ image | image_url: width: 800 | image_tag: loading: 'lazy', class: media_classes }}
                    {% else %}
                    {{ 'hero-apparel-3' | placeholder_svg_tag: media_classes }}
                    {%- endif -%}
                {% comment %} </div> {% endcomment %}
            </div>
        {%- elsif block.type == 'video_block' -%}
        <div class="smi-item__media smi-lh-0 smi-autoplay-{{ block.settings.autoplay }} smi-media-wrapper smi-media-wrapper-{{ section.id }}-{{ forloop.index }} smi-media {{ media_wrapper_classes }}" style="--media-ratio: {% if block.settings.autoplay == true and media_ratio == 'auto' %}4/3{% else %}{{ media_ratio }}{% endif %};; --shape-hover: var({{ shape_hover }});">
                {%- if block.settings.autoplay == true -%}
                    {% assign has_video = false %}
                    {% if block.settings.video != blank %}
                        {% assign has_video = true %}
                        {% assign smi_bg_vi_cus = media_classes | append: " smi-background-video" %}
                        {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, image_size: '1100x', class: smi_bg_vi_cus }}
                    {% elsif block.settings.video_url != blank %}
                        {% assign has_video = true %}
                        <div class="smi-video-url smi-background-block {% if block.settings.autoplay == true %} smi-background-video {% endif -%} {{ media_classes }}">
                            {%- if block.settings.video_url.type == 'youtube' -%}
                                <iframe
                                        src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1
                                            {%- if block.settings.autoplay == true %}&autoplay=1&mute=1&loop=1&controls=0{% endif -%}"
                                        class="smi-js-youtube "
                                        allow="autoplay; encrypted-media" loading="lazy"
                                        allowfullscreen
                                        title="{{ block.settings.description | escape }}"
                                        width="100%"
                                        height="100%"
                                ></iframe>
                            {%- else -%}
                                <iframe
                                        src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?title=0&byline=0&portrait=0
                                            {%- if block.settings.autoplay == true %}&autoplay=1&loop=1&muted=1{% endif -%}"
                                        class="smi-js-vimeo"
                                        allow="autoplay; encrypted-media" loading="lazy"
                                        allowfullscreen
                                        title="{{ block.settings.description | escape }}"
                                        width="100%"
                                        height="100%"
                                ></iframe>
                            {%- endif -%}
                        </div>
                    {% else %} 
                    {% assign img_classes = img_classes | append: 'smi-default-image' %}
                        {{ 'hero-apparel-3' | placeholder_svg_tag: img_classes }}
                    {% endif %}
                    {% if has_video %} 
                        <div class="smi-volume">
                            {% render 'smi-icons', icon: 'volumn-up' %}
                            {% render 'smi-icons', icon: 'volumn-mute' %}
                        </div>
                    {% endif %}
                {%- else -%}
                    <div class="smi-cover-image {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}" 
                        onclick="smiLiteModal.open('#modal_{{section.id}}{{block.id}}')">
                        <div class="smi-cover-image__play-button">
                            {% render 'smi-icons', icon: 'play-button' %}
                        </div>
                        {%- if block.settings.cover_image != blank -%}                        
                        {{ block.settings.cover_image | image_url: width: 800 | image_tag: loading: 'lazy', class: img_classes }}
                        {%- else -%}
                        {% assign img_classes = img_classes | append: 'smi-default-image' %}
                        {{ 'hero-apparel-3' | placeholder_svg_tag: img_classes }}
                        {%- endif -%}
                    </div>
                    <div class="smi-video-modal smi-video-modal-2 smi-lite-modal smi-section smi-dropdown-popup-wrapper smi-border smi-shadow smi-modal-xl" id="modal_{{section.id}}{{block.id}}">
                        <button onclick="smiLiteModal.close()" class="smi-modal-close">{% render 'smi-icons', icon: 'close' %}</button>
                        {% if block.settings.video != blank %}
                            <div class="smi-upload-video">
                                {{ block.settings.video | video_tag: autoplay: false, loop: true, muted: false, controls: true, image_size: '1100x' }}
                            </div>
                        {% elsif block.settings.video_url != blank %}
                        <div class="smi-video-url smi-background-block">
                            {%- if block.settings.video_url.type == 'youtube' -%}
                                <iframe
                                    src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay=0&mute=1&loop=0&controls=1&playlist={{ block.settings.video_url.id }}&rel=0"
                                    class="smi-js-youtube"
                                    allow="autoplay; encrypted-media" loading="lazy"
                                    allowfullscreen
                                    width="100%"
                                    height="100%"
                                ></iframe>
                            {%- else -%}
                                <iframe
                                    src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=0&pip=0&muted=1"
                                    class="smi-js-vimeo"
                                    allow="autoplay; encrypted-media" loading="lazy"
                                    allowfullscreen
                                    width="100%"
                                    height="100%"
                                ></iframe>
                            {%- endif -%}
                        </div>
                        {% else %}
                        {% assign img_classes = img_classes | append: 'smi-default-image' %}
                        {{ 'hero-apparel-3' | placeholder_svg_tag: img_classes }}
                        {% endif %}
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
        <div class="smi-item-content 
            {% if block.settings.heading != blank or block.settings.content != blank or block.settings.button_label != blank %}
            smi-pt-lg
            {% endif %}
            {% if section.settings.content_alignment == "right" %}
                    smi-pl-md
                {% elsif section.settings.content_alignment == "left" %}
                    smi-pr-md
                {% else %}
                smi-px-md
            {% endif %}
                 smi-content-align-{{ section.settings.content_alignment }}
             {% comment %} smi-gradient smi-color-{{ section.settings.content_color_scheme }} {% endcomment %}
             ">
             {% if block.settings.heading != blank %}
                <div class="smi-item-content-heading {{ block.settings.heading_size }}" data-type="heading" data-key="b.image_block.heading">
                    {{  block.settings.heading }}
                </div>
            {%  endif %}
            {% if block.settings.content != blank %}
                <div class="smi-item-content-detail smi-text-75 smi-mt-xxs smi-text-md" data-field="richtext" data-type="description" data-key="b.image_block.content">
                    {{  block.settings.content }}
                </div>
            {%  endif %}
            {% if block.settings.button_label != blank %}
                <div class="smi-component-buttons smi-mt-md smi-button-wrapper smi-component-button-{{ section.settings.content_alignment }}">
                <a href="{% if block.settings.button_label != blank %} {{ block.settings.button_link }} {% else %}javascript:; {% endif %}" 
                    class="smi-button smi-text-button smi-button--text
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                <span>
                    {{- block.settings.button_label | escape -}}
                </span>
                </a>
            </div>
            {%  endif %}
        </div>
    </div> 
</div> 
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if section.settings.arrow_style != 'none' %}
  <div class="smi-component-arrow-slider">
    <div class="arrow-slider-content">
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-left smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-left-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-left' %}
        {% endif %}
      </div>
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-right smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-right-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-right' %}
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}
    </div>
    <div class="{% if section.settings.sticky_page_dot_style == 'none' %} no-margin-top {% endif %} smi-custom-dots">{% if section.settings.sticky_page_dot_style != 'none' %}
  <div class="smi-slider-dot-container">
    {% if section.settings.sticky_page_dot_style == 'text-style-1'
      or section.settings.sticky_page_dot_style == 'text-style-2'
      or section.settings.sticky_page_dot_style == 'text-style-3'
    %}
      <div class="smi-component-sticky-page-dot">
        <div class="smi-slider-action">
          <div class="smi-arrows {{ section.settings.sticky_page_dot_style }}">
            <div data-control="textPrevSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-left' %}</div>
            {% comment %} <div class="smi-slider-pagination smi-text-sm">1/3</div> {% endcomment %}
            <div class="text-pagination smi-pagination smi-slider-pagination smi-text-sm smi-arrow"></div>
            <div data-control="textNextSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-right' %}</div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="dot-container {{ section.settings.sticky_page_dot_style }}">
        <div
          class="swiper-pagination smi-pagination"
          {% if section.settings.sticky_page_dot_style == 'dot-style-4' %}
            style="display: flex;"
          {% endif %}
        ></div>
      </div>
    {% endif %}
  </div>
{% endif %}
</div>
  </div>
</div>
{% schema %}
{
	"name": "✧✧Image with text 2-6",
	"tag": "section",
	"class": "smi-section smi-image-with-text-2",
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "inline_richtext",
			"id": "sub_heading",
			"label": "Subheading",
			"default": "URNA CRAS MAURIS"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Happy Customers Say"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h2"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
		},
		{
			"type": "text_alignment",
			"id": "heading_alignment",
			"label": "Heading alignment",
			"default": "center"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "center"
		},
		{
			"type": "header",
			"content": "Media settings"
		},
		{
			"type": "select",
			"id": "media_ratio",
			"label": "Media ratio",
			"options": [
				{
					"value": "auto",
					"label": "Adapt"
				},
				{
					"value": "3/2",
					"label": "Landscape"
				},
				{
					"value": "1/1",
					"label": "Square"
				},
				{
					"value": "3/4",
					"label": "Portrait"
				}
			],
			"default": "3/4"
		},
		{
			"type": "select",
			"id": "media_shape",
			"label": "Media shape",
			"options": [
				{
					"value": "default",
					"label": "Default"
				},
				{
					"value": "round",
					"label": "Round"
				},
				{
					"value": "shape-blob",
					"label": "Blob"
				}
			],
			"default": "default",
			"info": "Media theme settings don't apply to the \"Blob\" shape."
		},
		{
			"type": "header",
			"content": "Navigation"
		},
		{
			"type": "select",
			"id": "arrow_style",
			"label": "Arrow",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "arr-style-1",
					"label": "Style 1"
				},
				{
					"value": "arr-style-2",
					"label": "Style 2"
				},
				{
					"value": "arr-square-style-1",
					"label": "Square style 1"
				},
				{
					"value": "arr-square-style-2",
					"label": "Square style 2"
				},
				{
					"value": "arr-square-style-3",
					"label": "Square style 3"
				},
				{
					"value": "arr-square-style-4",
					"label": "Square style 4 (bg)"
				},
				{
					"value": "arr-square-style-5",
					"label": "Square style 5 (bg)"
				},
				{
					"value": "arr-square-style-6",
					"label": "Square style 6"
				},
				{
					"value": "arr-circle-style-1",
					"label": "Circle style 1 (bg)"
				},
				{
					"value": "arr-circle-style-2",
					"label": "Circle style 2"
				},
				{
					"value": "arr-circle-style-3",
					"label": "Circle style 3"
				},
				{
					"value": "arr-circle-style-4",
					"label": "Circle style 4"
				},
				{
					"value": "arr-circle-style-5",
					"label": "Circle style 5 (bg)"
				}
			],
			"default": "arr-style-1"
		},
		{
			"type": "select",
			"id": "sticky_page_dot_style",
			"label": "Pagination",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "dot-style-1",
					"label": "Dot style 1"
				},
				{
					"value": "dot-style-2",
					"label": "Dot style 2"
				},
				{
					"value": "dot-style-3",
					"label": "Dot style 3"
				},
				{
					"value": "dot-style-4",
					"label": "Dot style 4"
				},
				{
					"value": "line-dot",
					"label": "Line dot"
				},
				{
					"value": "line-style-1",
					"label": "Line style 1"
				},
				{
					"value": "line-style-2",
					"label": "Line style 2"
				},
				{
					"value": "line-style-3",
					"label": "Line style 3"
				},
				{
					"value": "line-style-4",
					"label": "Line style 4"
				},
				{
					"value": "text-style-1",
					"label": "Text style 1"
				},
				{
					"value": "text-style-2",
					"label": "Text style 2"
				},
				{
					"value": "text-style-3",
					"label": "Text style 3"
				}
			],
			"default": "dot-style-1"
		},
		{
			"type": "header",
			"content": "Slides"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slides",
			"label": "Auto-rotate slides",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slide_every",
			"min": 2,
			"max": 15,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "select",
			"id": "slider_items",
			"label": "Number of columns on desktop",
			"options": [
				{
					"value": "2",
					"label": "2 columns"
				},
				{
					"value": "3",
					"label": "3 columns"
				},
				{
					"value": "4",
					"label": "4 columns"
				},
				{
					"value": "5",
					"label": "5 columns"
				},
				{
					"value": "6",
					"label": "6 column"
				}
			],
			"default": "3"
		},
		{
			"type": "select",
			"id": "number_of_columns_on_mobile",
			"label": "Number of columns on mobile",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				}
			],
			"default": "1"
		},
		{
			"type": "checkbox",
			"id": "slider_overflow",
			"label": "Slider overflow",
			"default": true
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "select",
			"options": [
				{
					"value": "scheme_1",
					"label": "Scheme 1"
				},
				{
					"value": "scheme_2",
					"label": "Scheme 2"
				},
				{
					"value": "scheme_3",
					"label": "Scheme 3"
				},
				{
					"value": "scheme_4",
					"label": "Scheme 4"
				},
				{
					"value": "scheme_5",
					"label": "Scheme 5"
				},
				{
					"value": "scheme_6",
					"label": "Scheme 6"
				},
				{
					"value": "scheme_7",
					"label": "Scheme 7"
				},
				{
					"value": "scheme_8",
					"label": "Scheme 8"
				},
				{
					"value": "scheme_9",
					"label": "Scheme 9"
				},
				{
					"value": "scheme_10",
					"label": "Scheme 10"
				}
			],
			"id": "color_scheme",
			"label": "Section color scheme",
			"info": "This color scheme applies to the border and shadow of cards. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-configure-border-and-shadow-colors-in-sections-with-two-color-schemes)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Image with text",
			"limit": 20,
			"type": "image_block",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Amazing Flavor!"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h4"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Gravida erat neque auctor quam neque. Pulvinar sit sagittis nisl purus eget. Id commodo</p>"
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label",
					"default": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				}
			]
		},
		{
			"name": "Video with text",
			"limit": 20,
			"type": "video_block",
			"settings": [
				{
					"type": "image_picker",
					"id": "cover_image",
					"label": "Cover image",
					"info": "The image above will show if autoplay is disabled."
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "checkbox",
					"id": "autoplay",
					"label": "Autoplay",
					"default": false
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Amazing Flavor!"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h4"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Gravida erat neque auctor quam neque. Pulvinar sit sagittis nisl purus eget. Id commodo</p>"
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label",
					"default": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Image with text 2-6",
			"settings": {
				"full_width": true,
				"sub_heading": "",
				"heading": "Trendy Fall Outfits",
				"heading_size": "smi-h2",
				"description": "",
				"heading_alignment": "center",
				"content_alignment": "left",
				"media_ratio": "1/1",
				"media_shape": "default",
				"arrow_style": "none",
				"sticky_page_dot_style": "none",
				"auto_rotate_slides": false,
				"change_slide_every": 5,
				"slider_items": "3",
				"number_of_columns_on_mobile": "1",
				"slider_overflow": false,
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_1"
			},
			"blocks": [
				{
					"type": "image_block",
					"settings": {
						"image": "shopify://shop_images/smi-smi-review_clothing-22_432770c3-fd6e-4b40-ba68-1fe3b4a56e1c.jpg",
						"heading": "Cozy knitwear for chilly days",
						"heading_size": "smi-h4",
						"content": "<p>Elevate your fall wardrobe with our cozy knit sweaters and cardigans. They're perfect! Stay warm and stylish all season long.</p>",
						"button_label": "",
						"button_link": null
					}
				},
				{
					"type": "video_block",
					"settings": {
						"cover_image": "shopify://shop_images/smi-smi-image_clothing-01_12_bec8baf0-b948-46f4-870d-0fb52c1bc1ba.jpg",
						"video_url": "https://youtu.be/zA5gcS871WQ",
						"autoplay": false,
						"heading": "Statement outerwear to turn heads",
						"heading_size": "smi-h4",
						"content": "<p>Stand out this season with our bold outerwear collection. Make a statement wherever you go or whatever you like.</p>",
						"button_label": "",
						"button_link": null
					}
				},
				{
					"type": "image_block",
					"settings": {
						"image": "shopify://shop_images/smi-smi-smi-clothing-classic-11_7195d051-9f45-4769-9320-996b2dbced1d.jpg",
						"heading": "Accessorize with autumnal scarves",
						"heading_size": "smi-h4",
						"content": "<p>Add warmth and style to any outfit. Choose from chunky knit infinity styles to lightweight silk options for the perfect fall accessory.</p>",
						"button_label": "",
						"button_link": null
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
(function () {
    'use strict';
    
    if (Shopify.designMode) {
        let timerCounter = 0
        const timer = setInterval(() => {
            timerCounter++
            if(typeof SMI_Slider === 'function' || timerCounter >= 500) {
                clearInterval(timer)
                smiReview()
                
            }
        }, 10)       
    } else {
        window.addEventListener('DOMContentLoaded', (event) => {
            smiReview()
            
        })
    }

    function slideOverFlow(){
        if (typeof SMI_Slider !== 'undefined') {
            const selector = '#smi-{{ section.id }} .smi-swiper'
            const parent = document.querySelector(selector)
            if (parent) {
                let options = JSON.parse(parent.getAttribute('data-slider'));
                let overFlow = options.overflow
                setTimeout(() => {
                    if(overFlow =="true"){
                        console.log('checking');
                        let listBlock = parent.querySelectorAll('.swiper-slide')
                        console.log("listBlock: ", listBlock);
                        listBlock.forEach(index => {
                            index.classList.add('swiper-slide-visible')
                        });
                    }
                }, 200);
            }
        }
    }

    function smiReview() {
        if (typeof SMI_Slider !== 'undefined') {
            const selector = '#smi-{{ section.id }} .smi-swiper'
            const parent = document.querySelector(selector)
            const nextEl = parent.querySelector('.arrow-slider-right');
            const prevEl = parent.querySelector('.arrow-slider-left');
            if (parent) {
                let options = JSON.parse(parent.getAttribute('data-slider'));
                let sectionId = (`smi-{{ section.id }}`).replace('smi-', '');
                
                
                let style = window.getComputedStyle(parent);
                let grid_desk = style.getPropertyValue("--grid-desktop-horizontal-spacing").replace('px', '').replace('rem', '');
                let grid_mobi = style.getPropertyValue("--grid-mobile-horizontal-spacing").replace('px', '').replace('rem', '');
                

                if (options?.autoPlay && options?.speed) {
                    options.autoplay = {
                        delay: parseInt(options.speed)
                    }
                }
                delete options['speed']

                options.loop = false
                options.rewind = true
                options.watchSlidesProgress = true
                
                
                
                
                
                
                
                

                options.nextButton = '#smi-{{ section.id }} .arrow-slider-right'
                options.prevButton = '#smi-{{ section.id }} .arrow-slider-left'

                options.breakpoints = {
                    0: {
                        spaceBetween: grid_mobi,
                        slidesPerGroup: 1,
                        slidesPerView: 'auto',
                    },
                    576: {
                        slidesPerView: options.mobileItems,
                        slidesPerGroup: parseInt(options.mobileItems),
                        spaceBetween: grid_desk,
                    },
                    768: {
                        slidesPerView: options.tabletItems,
                        slidesPerGroup: parseInt(options.tabletItems),
                        spaceBetween: grid_desk,
                    },
                    992: {
                        slidesPerView: options.destopItems,
                        slidesPerGroup: parseInt(options.destopItems),
                        spaceBetween: grid_desk,
                    }
                }
                options.on= {
                    slideChange: function () {
                        let all_slide2 = document.querySelectorAll(`#smi-{{ section.id }} .smi-swiper .swiper-slide-video_block`)
                        all_slide2.forEach(item =>{
                            console.log(item.classList);
                            if(item.classList.contains('swiper-slide-visible') && item.classList.contains('is-active-play-true')){
   
                                let act = item.innerHTML
                                    setTimeout(() => {
                                        item.innerHTML = act
                                    }, 10);
                            }
                        })
                      },
                  },
                new SMI_Slider(selector, options)

             
                let slide_prev = document.querySelector('#smi-{{ section.id }} .arrow-slider-left')
                if(slide_prev){
                    slide_prev.classList.add('swiper-button-disabled')
                }
                let slide_next = document.querySelector('#smi-{{ section.id }} .arrow-slider-right')
                let swiperEl = document.querySelector('#smi-{{ section.id }}  .swiper')
                
                swiperEl.swiper.on( 'slideChange', function() {
                    if(swiperEl.swiper.activeIndex == 0){
                        if(slide_prev){
                            slide_prev.classList.add('swiper-button-disabled')
                        }
                    }else{
                        if(slide_prev){
                            slide_prev.classList.remove('swiper-button-disabled')
                        }
                    }
                    if(swiperEl.swiper.isEnd){
                        if(slide_next){
                            slide_next.classList.add('swiper-button-disabled')
                        }
                    }else{
                        if(slide_next){
                            slide_next.classList.remove('swiper-button-disabled')
                        }
                    }
                 });
                
                const _toggleVolume = () => {
                    const buttons = parent.querySelectorAll('.smi-volume')
                    if (!buttons.length) {
                        return null
                    }
                    buttons.forEach((button) => {
                        button.addEventListener('click', e => {
                            const parent = button.closest('.smi-item__media')
                            let video = parent.querySelector('video')
                            let videoY = parent.querySelector('.smi-js-youtube')
                            let videoV = parent.querySelector('.smi-js-vimeo')
                            if (button.classList.contains('up')) {
                                button.classList.remove('up')
                                if (video) {
                                    video.muted = true
                                }

                                if (videoY) {
                                    videoY.contentWindow.postMessage('{"event":"command","func":"mute","args":""}', "*");
                                }

                                if (videoV) {
                                    videoV.contentWindow.postMessage('{"method":"setVolume", "value":0}', '*');
                                }
                            } else {
                                button.classList.add('up')
                                if (video) {
                                    video.muted = false
                                }

                                if (videoY) {
                                    videoY.contentWindow.postMessage('{"event":"command","func":"unMute","args":""}', "*");
                                }

                                if (videoV) {
                                    videoV.contentWindow.postMessage('{"method":"setVolume", "value":1}', '*');
                                }
                            }
                        })
                    })
                }

                _toggleVolume()
            }

            const toggleDots = () => {
                const customDots = document.querySelector('#smi-{{ section.id }} .smi-custom-dots')
                if (customDots) {
                    const lockItem = customDots.querySelector('.swiper-pagination-lock')
                    if (lockItem) {
                        customDots.classList.add('smi-hidden')
                    } else {
                        customDots.classList.remove('smi-hidden')
                    }
                }
            }
            toggleDots()
            window.addEventListener('resize', () => {
                toggleDots()
            })

            document.addEventListener('smiLiteModalOpen', e => {
                const currentModal = document.querySelector('.smi-video-modal.smi-modal-on')
                if (currentModal) {
                    const videoVimeo = currentModal.querySelector('.smi-js-vimeo');
                    const videoYoutube = currentModal.querySelector('.smi-js-youtube');
                    const videoUpload = currentModal.querySelector('.smi-upload-video video');

                    if (videoVimeo) {
                        videoVimeo.contentWindow.postMessage('{"method":"play"}', '*')
                    }

                    if (videoYoutube) {
                        videoYoutube.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', "*");
                    }

                    if (videoUpload) {
                        let timeout;
                        (() => {
                            clearTimeout(timeout);
                            timeout = setTimeout(() => videoUpload.play(), 150);
                        })();
                    }
                }
            })

            document.addEventListener('smiLiteModalClose', e => {
                const currentModal = document.querySelector('.smi-video-modal.smi-modal-on')
                if (currentModal) {
                    const videoVimeo = currentModal.querySelector('.smi-js-vimeo');
                    const videoYoutube = currentModal.querySelector('.smi-js-youtube');
                    const videoUpload = currentModal.querySelector('.smi-upload-video video');

                    if (videoVimeo) videoVimeo.contentWindow.postMessage('{"method":"pause"}', '*');
                    if (videoYoutube) videoYoutube.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}', "*");
                    if (videoUpload) videoUpload.pause();
                }
            })
        }
    }
})();

</script>