{% style %}
	.smi-section-collection-list-5{overflow:hidden}.smi-section-collection-list-5__main>.smi-container-fluid,.smi-section-collection-list-5__main>.smi-container{position:relative}.smi-section-collection-list-5__main>.smi-container-fluid .smi-swiper-navigation{visibility:hidden;opacity:0}.smi-section-collection-list-5__main>.smi-container-fluid:hover .smi-swiper-navigation{visibility:visible;opacity:1}.smi-section-collection-list-5__main:not(.smi-slide-overflow) .smi-swiper{--shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));--shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));overflow-y:visible}@media screen and (max-width: 767.8px){.smi-section-collection-list-5__main:not(.smi-slide-overflow) .smi-swiper{overflow:visible}}@media screen and (min-width: 768px){.smi-section-collection-list-5__main:not(.smi-slide-overflow) .smi-swiper{margin-left:min(0px,var(--shadow-padding-sides-negative)*-1);margin-right:min(0px,var(--shadow-padding-sides)*-1);padding-left:max(0px,var(--shadow-padding-sides-negative));padding-right:max(0px,var(--shadow-padding-sides))}}.smi-section-collection-list-5__main:not(.smi-slide-overflow) .smi-swiper .swiper-slide{transition:opacity .3s;opacity:0}.smi-section-collection-list-5__main:not(.smi-slide-overflow) .smi-swiper .swiper-slide.swiper-slide-visible{opacity:1}.smi-section-collection-list-5__main.smi-slide-overflow .smi-swiper{overflow:visible}@media screen and (max-width: 767.8px){.smi-section-collection-list-5__main.smi-slide-overflow .swiper-slide{transition:opacity .3s;opacity:0}.smi-section-collection-list-5__main.smi-slide-overflow .swiper-slide.swiper-slide-visible{opacity:1}}.smi-section-collection-list-5__main .smi-swiper .swiper-wrapper:has(>.swiper-slide:only-child){justify-content:center}.smi-section-collection-list-5__main .smi-swiper .swiper-slide:only-child{max-width:800px}.smi-section-collection-list-5__main .smi-swiper .swiper-slide:last-child{margin-right:0 !important}.smi-section-collection-list-5__main .swiper-slide{height:auto;width:var(--item-width-xs);margin-right:var(--space-between-mobile)}@media screen and (min-width: 768px){.smi-section-collection-list-5__main .swiper-slide{width:var(--item-width-md);margin-right:var(--space-between-desktop)}}@media screen and (min-width: 992px){.smi-section-collection-list-5__main .swiper-slide{width:var(--item-width-lg)}}@media screen and (min-width: 1200px){.smi-section-collection-list-5__main .swiper-slide{width:var(--item-width-xl)}}.smi-section-collection-list-5 .smi-component-arrow-slider{display:flex;width:min(100% + 128px,100vw - 60px);min-width:calc(100% + 46px);position:absolute;top:50%;left:50%;z-index:100;transform:translateX(-50%)}.smi-section-collection-list-5 .smi-component-arrow-slider .arrow-icon{cursor:pointer;position:absolute;top:50%;transform:translateY(-50%);z-index:2;left:0}.smi-section-collection-list-5 .smi-component-arrow-slider .arrow-icon.arrow-slider-right{left:auto;right:0}.smi-section-collection-list-5 .smi-swiper-controls{width:100%;display:flex;justify-content:center}.smi-section-collection-list-5 .smi-swiper-navigation{position:absolute;z-index:2;top:50%;width:100%;transition:visibility .3s ease}@media screen and (max-width: 767.8px){.smi-section-collection-list-5 .smi-swiper-navigation{display:none}}.smi-section-collection-list-5 .smi-swiper-navigation .arrow-icon{visibility:visible;transition:visibility .3s ease}.smi-section-collection-list-5 .smi-swiper-navigation .swiper-button-disabled{visibility:hidden}.smi-section-collection-list-5 .smi-swiper-pagination{--swiper-pagination-bottom: 0}.smi-section-collection-list-5__main{--border-color-section: var(--color-foreground);--color-shadow-section: var(--color-shadow)}.smi-section-collection-list-5__main .card-collection-wrap{background:rgba(0,0,0,0) !important}.smi-section-collection-list-5__main .smi-card-collection{word-wrap:break-word;background-color:rgb(var(--color-background));background:var(--gradient-background);background-attachment:fixed;overflow:hidden;height:100%}.smi-section-collection-list-5__main .smi-card-collection.smi-border{border-color:rgba(var(--border-color-section), var(--border-opacity))}.smi-section-collection-list-5__main .smi-card-collection.smi-shadow{box-shadow:var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow-section), var(--shadow-opacity))}.smi-section-collection-list-5__main .smi-card-collection__media{position:relative;width:100%}.smi-section-collection-list-5__main .smi-card-collection__media svg,.smi-section-collection-list-5__main .smi-card-collection__media img{height:100%;width:100%;object-fit:cover}.smi-section-collection-list-5__main .smi-card-collection__media:before{content:"";position:absolute;z-index:1;top:0;left:0;right:0;bottom:0;background:var(--image-overlay, transparent)}.smi-section-collection-list-5__main .smi-card-collection__content{position:absolute;z-index:2;top:var(--border-width, 0);left:var(--border-width, 0);right:var(--border-width, 0);bottom:var(--border-width, 0);display:flex;overflow:clip auto}.smi-section-collection-list-5__main .smi-card-collection__content::-webkit-scrollbar{width:5px}.smi-section-collection-list-5__main .smi-card-collection__content::-webkit-scrollbar-track{background-color:rgba(228,228,228,.3);border-radius:100px}.smi-section-collection-list-5__main .smi-card-collection__content::-webkit-scrollbar-thumb{border-radius:100px;background-clip:content-box;background-color:rgba(var(--color-foreground), 0.55)}.smi-section-collection-list-5__main .smi-card-collection__content .__smi-inner{padding:24px;overflow:clip visible;max-height:100%}.smi-section-collection-list-5__main .smi-card-collection__content .smi-button{line-height:var(--body-line-height)}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0:not(.smi-slide-overflow) .swiper-slide{opacity:0}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0:not(.smi-slide-overflow) .swiper-slide-visible{opacity:1}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0:not(.smi-slide-overflow) .swiper-slide-active:before{content:"";position:absolute;top:0;right:0;bottom:0;left:calc(var(--border-width)*-1);z-index:1;border-left:var(--border-width) solid rgba(var(--border-color-section), var(--border-opacity))}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap{padding-left:var(--border-width)}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper{padding-left:var(--border-width);margin-left:calc(var(--border-width)*-1)}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide{position:relative;opacity:1}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide .smi-card-collection{border-left:0}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide:last-child:before{content:none}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide:first-child:before{content:"";position:absolute;top:0;right:0;bottom:0;left:calc(var(--border-width)*-1);z-index:1;border-left:var(--border-width) solid rgba(var(--border-color-section), var(--border-opacity))}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide.swiper-slide-prev.swiper-slide-visible+.swiper-slide:before{content:none}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-wrapper:has(>.swiper-slide:only-child){padding-left:0}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-wrapper:has(>.swiper-slide:only-child):before{content:none}.smi-section-collection-list-5__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide:only-child{margin-right:0}.smi-section-collection-list-5__main .smi-mw-100{max-width:100%}.smi-section-collection-list-5__main .smi-justify-content-inherit{justify-content:inherit}
{% endstyle %}
{% comment %}#component#["settings/heading","settings/media-height-2","settings/slider-arrows","settings/slider-dots","settings/slides","settings/section-padding","settings/content-position","settings/button-without-url","blocks/background","settings/design-mode","settings/animation-settings"]#endcomponent#{% endcomment %}
{% comment %} swiper.js {% endcomment %}
{{ 'smi-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'smi-swiper-bundle.min.js' | asset_url }}" defer data-id="swiper"></script>
{% liquid
    if section.settings.enable_spacing_between_items == false
        assign space_between_mobile = '0px'
        assign space_between_desktop = '0px'
    else
        assign space_between_mobile = 'var(--grid-mobile-horizontal-spacing)'
        assign space_between_desktop = 'var(--grid-desktop-horizontal-spacing)'
    endif
    assign custom_blocks = section.blocks | where: 'type', 'collection'
    assign block_length = custom_blocks | size
    assign slides_per_view_desktop = section.settings.number_of_columns_on_desktop | at_most: block_length
    assign slides_per_view_laptop = 3 | at_most: slides_per_view_desktop
    assign slides_per_view_tablet = 2 | at_most: slides_per_view_desktop
    assign slides_per_view_mobile = section.settings.number_of_columns_on_mobile | at_most: block_length
    if block_length == slides_per_view_mobile
        assign offset_swiper_mobile = 0
    else
        if section.settings.enable_spacing_between_items == false
            assign offset_swiper_mobile = '(30px + var(--media-border-width))'
        else
            assign offset_swiper_mobile = '30px'
        endif
    endif
    if section.settings.auto_rotate_slides == true
        assign delay = section.settings.change_slides_every | times: 1000
        assign autoplay = '{ "delay": ' | append: delay | append: '}'
    else
        assign autoplay = false
    endif
    assign block_color_length = section.blocks | where: 'type', 'color' | size
    if block_color_length == 1
        assign content_color = 'smi-content-color'
    else
        assign content_color = 'smi-color-' | append: section.settings.content_color_scheme
    endif
%}
<style>
    {% assign block_color = section.blocks | where: 'type', 'color' | first %}
{% if block_color %}
    #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }}{
        --color-background: {{ block_color.settings.background_color.red }}, {{ block_color.settings.background_color.green }},{{ block_color.settings.background_color.blue }};
        {% if block_color.settings.background_gradient_color == blank %}
            --gradient-background: {{ block_color.settings.background_color }};
        {% else %}
            --gradient-background: {{ block_color.settings.background_gradient_color }};
        {% endif %}
        --color-foreground: {{ block_color.settings.text_color.red }}, {{ block_color.settings.text_color.green }},{{ block_color.settings.text_color.blue }};
        --color-subtext: {{ block_color.settings.subtext_color.red }},{{ block_color.settings.subtext_color.green }},{{ block_color.settings.subtext_color.blue }};
        --color-button: {{ block_color.settings.solid_background_button_color.red }}, {{ block_color.settings.solid_background_button_color.green }},{{ block_color.settings.solid_background_button_color.blue }};
        --color-button-text: {{ block_color.settings.solid_button_label_color.red }}, {{ block_color.settings.solid_button_label_color.green }},{{ block_color.settings.solid_button_label_color.blue }};
        --color-shadow: {{ block_color.settings.shadow_color.red }}, {{ block_color.settings.shadow_color.green }},{{ block_color.settings.shadow_color.blue }};
    }
    #shopify-section-{{ section.id }} .smi-content-color {
        --color-foreground: {{ block_color.settings.content_text_color.red }}, {{ block_color.settings.content_text_color.green }},{{ block_color.settings.content_text_color.blue }};
        --color-subtext: {{ block_color.settings.content_subtext_color.red }},{{ block_color.settings.content_subtext_color.green }},{{ block_color.settings.content_subtext_color.blue }};
        --color-button: {{ block_color.settings.content_solid_background_button_color.red }}, {{ block_color.settings.content_solid_background_button_color.green }},{{ block_color.settings.content_solid_background_button_color.blue }};
        --color-button-text: {{ block_color.settings.content_solid_button_label_color.red }}, {{ block_color.settings.content_solid_button_label_color.green }},{{ block_color.settings.content_solid_button_label_color.blue }};
        --color-secondary-button-text: {{ block_color.settings.content_outline_button_color.red }}, {{ block_color.settings.content_outline_button_color.green }},{{ block_color.settings.content_outline_button_color.blue }};
        --color-shadow: {{ block_color.settings.content_shadow_color.red }}, {{ block_color.settings.content_shadow_color.green }},{{ block_color.settings.content_shadow_color.blue }};
    }
{% endif %}
    #shopify-section-{{ section.id }}{
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
        --heading-alignment: {{ section.settings.heading_alignment }};
        --space-between-mobile : {{ space_between_mobile }};
        --space-between-desktop : {{ space_between_desktop }};
        --item-width-xs: {{ slides_per_view_mobile | minus: 1 | prepend: 'calc((100% - ((' | append: ' * var(--space-between-mobile)) + ' | append: offset_swiper_mobile | append: '))/' | append: slides_per_view_mobile | append: ')' }};
        --item-width-md: {{ slides_per_view_tablet | minus: 1 | prepend: 'calc((100% - (' | append: ' * var(--space-between-desktop)))/' | append: slides_per_view_tablet | append: ')' }};
        --item-width-lg: {{ slides_per_view_laptop | minus: 1 | prepend: 'calc((100% - (' | append: ' * var(--space-between-desktop)))/' | append: slides_per_view_laptop | append: ')' }};
        --item-width-xl: {{ slides_per_view_desktop | minus: 1 | prepend: 'calc((100% - (' | append: ' * var(--space-between-desktop)))/' | append: slides_per_view_desktop | append: ')' }};
    }
</style>
<div id="smi-{{ section.id }}" class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-collection-list-5 smi-color-{{ section.settings.color_scheme }}" data-section="collection-list-5" data-name="✧Collection list 5">
     
    {% render 'smi-background' %}
    <div class="smi-container">
         {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{section.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = section.settings.heading | strip
    assign sub_heading = section.settings.sub_heading | strip
    assign description = section.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = section.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{%- assign heading = section.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ section.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
    </div>
    {% comment %}Swiper Slide{% endcomment %}
    <div class="smi-section-collection-list-5__main smi-media-wrapper {%if section.settings.slider_overflow == true %}smi-slide-overflow{% endif -%}
            {%- if section.settings.enable_spacing_between_items == false %} smi-content-gap-0{% endif -%}
            {% comment %}'smi-content-border-radius-0' added by js{% endcomment %}">
                {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
        <div class="{% if section.settings.container_full_width %}smi-container-fluid{% else %}smi-container{% endif -%}
            {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1{% endif -%}">
            <div class="smi-swiper-wrap">
                <div class="swiper smi-swiper" data-swiper-options='{"autoplay":{{ autoplay }},"pageDotStyle":"{{- section.settings.sticky_page_dot_style -}}"}'>
                    <div class="swiper-wrapper">
                        {% assign shape_index = 1 %}
                        {% for block in custom_blocks %}
                            <div class="swiper-slide" data-swiper-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
                                <div class="card-collection-wrap {{ content_color }}" >
                                    {% liquid
    assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1
    assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index
    assign collection = block.settings.collection
    if block.settings.link != blank
        assign link = block.settings.link
    elsif collection != blank
        assign link = collection.url
    else
        assign link = ''
    endif
    if block.settings.heading != blank
        assign heading = block.settings.heading
    elsif collection != blank
        assign heading = collection.title
    else
        assign heading = ''
    endif
    assign content_position_md = block.settings.desktop_content_position | split: '_'
    assign content_position = block.settings.mobile_content_position | split: '_'
%}
<div class="smi-card-collection smi-border
    {%- if section.settings.enable_spacing_between_items == true %} smi-shadow{% endif -%}
    {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}"
     style="{% if block.settings.image_overlay != blank %}--image-overlay: {{ block.settings.image_overlay }};{% endif %}">
    <div class="smi-card-collection__media smi-media-h-{{ section.settings.media_height }}">
        <a {% if link != blank %}href="{{ link }}"{% endif %} class="smi-d-block smi-lh-0 smi-wh-100" data-type="item-image">
            {% if block.settings.image != blank %}
                {{ block.settings.image | image_url: width: 1024 | image_tag: class: 'smi-bg-image' }}
            {% elsif collection.image != blank %}
                {{ collection.image | image_url: width: 1024 | image_tag: class: 'smi-bg-image' }}
            {% else %}
                {{ placeholder_image | placeholder_svg_tag: 'smi-bg-image' }}
            {% endif %}
        </a>
    </div>
    <div class="smi-card-collection__content
            {{- ' smi-justify-content-' | append: content_position.last -}}
            {{- ' smi-justify-content-md-' | append: content_position_md.last -}}
            {{- ' smi-align-items-' | append: content_position.first -}}
            {{- ' smi-align-items-md-' | append: content_position_md.first -}}">
        <div class="__smi-inner smi-justify-content-inherit
            {{- ' smi-text-' | append: content_position.last -}}
            {{- ' smi-text-md-' | append: content_position_md.last -}}">
            {%- if block.settings.subheading != blank %}
                <div class="__smi-subheading smi-text-sub smi-color-subtext smi-link-wrapper" data-type="item-subheading">
                    {{ block.settings.subheading }}
                </div>
            {% endif %}
            {% if heading != blank %}
                {% if link != blank %}<a href="{{ link }}">{% endif %}
                    <div class="__smi-heading {{ block.settings.heading_size }} smi-link-wrapper" data-type="item-heading">
                        {{ heading }}
                    </div>
                {% if link != blank %}</a>{% endif %}
            {% endif %}
            {% if block.settings.description != blank %}
                <div class="__smi-description smi-text-md smi-color-text-75 smi-link-wrapper" data-type="item-description">
                    {{ block.settings.description }}
                </div>
            {% endif %}
            {% if block.settings.button_label != blank %}
                <div class="smi-mt-sm smi-mw-100 smi-d-flex smi-justify-content-inherit">
                    {% assign button_link = link %}
                    {% comment %}
  Renders a button
  Accepts:
  - button_link: {url} link
{% endcomment %}
{% liquid
    assign button_label = block.settings.button_label
    assign button_style = block.settings.button_style
%}
<div class="smi-component-button-without-link smi-button-wrapper">
    {% if button_label != blank %}
        <a {% if button_link != blank %}href="{{ button_link }}"{% endif %} class="smi-button smi-text-button smi-button--{{ button_style | split: '_' | first }}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
                <span>
                    {{- button_label | escape -}}
                </span>
            {% if button_style contains 'arrow' %}
                <div class="smi-d-flex smi-align-content-center">
                    {% render 'smi-icons', icon: 'arrow-right-2' %}
                </div>
            {% endif %}
        </a>
    {% endif %}
</div>
                    {% assign button_link = '' %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="smi-swiper-controls">
                <div class="smi-swiper-navigation">
                        {% if section.settings.arrow_style != 'none' %}
  <div class="smi-component-arrow-slider">
    <div class="arrow-slider-content">
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-left smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-left-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-left' %}
        {% endif %}
      </div>
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-right smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-right-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-right' %}
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}
                </div>
                <div class="smi-swiper-pagination smi-pt-xl smi-mw-100">
                    {% if section.settings.sticky_page_dot_style != 'none' %}
  <div class="smi-slider-dot-container">
    {% if section.settings.sticky_page_dot_style == 'text-style-1'
      or section.settings.sticky_page_dot_style == 'text-style-2'
      or section.settings.sticky_page_dot_style == 'text-style-3'
    %}
      <div class="smi-component-sticky-page-dot">
        <div class="smi-slider-action">
          <div class="smi-arrows {{ section.settings.sticky_page_dot_style }}">
            <div data-control="textPrevSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-left' %}</div>
            {% comment %} <div class="smi-slider-pagination smi-text-sm">1/3</div> {% endcomment %}
            <div class="text-pagination smi-pagination smi-slider-pagination smi-text-sm smi-arrow"></div>
            <div data-control="textNextSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-right' %}</div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="dot-container {{ section.settings.sticky_page_dot_style }}">
        <div
          class="swiper-pagination smi-pagination"
          {% if section.settings.sticky_page_dot_style == 'dot-style-4' %}
            style="display: flex;"
          {% endif %}
        ></div>
      </div>
    {% endif %}
  </div>
{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "✧✧Collection list 5-5",
	"tag": "section",
	"class": "smi-section smi-collection-list-5",
	"settings": [
		{
			"type": "checkbox",
			"id": "container_full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "enable_spacing_between_items",
			"label": "Enable spacing between items",
			"default": true
		},
		{
			"type": "inline_richtext",
			"id": "sub_heading",
			"label": "Subheading",
			"default": "URNA CRAS MAURIS"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Happy Customers Say"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h2"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
		},
		{
			"type": "text_alignment",
			"id": "heading_alignment",
			"label": "Heading alignment",
			"default": "center"
		},
		{
			"type": "select",
			"id": "media_height",
			"label": "Media height",
			"options": [
				{
					"value": "xxs",
					"label": "XXS"
				},
				{
					"value": "xs",
					"label": "XS"
				},
				{
					"value": "s",
					"label": "S"
				},
				{
					"value": "m",
					"label": "M"
				},
				{
					"value": "l",
					"label": "L"
				}
			],
			"default": "m"
		},
		{
			"type": "header",
			"content": "Navigation"
		},
		{
			"type": "select",
			"id": "arrow_style",
			"label": "Arrow",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "arr-style-1",
					"label": "Style 1"
				},
				{
					"value": "arr-style-2",
					"label": "Style 2"
				},
				{
					"value": "arr-square-style-1",
					"label": "Square style 1"
				},
				{
					"value": "arr-square-style-2",
					"label": "Square style 2"
				},
				{
					"value": "arr-square-style-3",
					"label": "Square style 3"
				},
				{
					"value": "arr-square-style-4",
					"label": "Square style 4 (bg)"
				},
				{
					"value": "arr-square-style-5",
					"label": "Square style 5 (bg)"
				},
				{
					"value": "arr-square-style-6",
					"label": "Square style 6"
				},
				{
					"value": "arr-circle-style-1",
					"label": "Circle style 1 (bg)"
				},
				{
					"value": "arr-circle-style-2",
					"label": "Circle style 2"
				},
				{
					"value": "arr-circle-style-3",
					"label": "Circle style 3"
				},
				{
					"value": "arr-circle-style-4",
					"label": "Circle style 4"
				},
				{
					"value": "arr-circle-style-5",
					"label": "Circle style 5 (bg)"
				}
			],
			"default": "arr-style-1"
		},
		{
			"type": "select",
			"id": "sticky_page_dot_style",
			"label": "Pagination",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "dot-style-1",
					"label": "Dot style 1"
				},
				{
					"value": "dot-style-2",
					"label": "Dot style 2"
				},
				{
					"value": "dot-style-3",
					"label": "Dot style 3"
				},
				{
					"value": "dot-style-4",
					"label": "Dot style 4"
				},
				{
					"value": "line-dot",
					"label": "Line dot"
				},
				{
					"value": "line-style-1",
					"label": "Line style 1"
				},
				{
					"value": "line-style-2",
					"label": "Line style 2"
				},
				{
					"value": "line-style-3",
					"label": "Line style 3"
				},
				{
					"value": "line-style-4",
					"label": "Line style 4"
				},
				{
					"value": "text-style-1",
					"label": "Text style 1"
				},
				{
					"value": "text-style-2",
					"label": "Text style 2"
				},
				{
					"value": "text-style-3",
					"label": "Text style 3"
				}
			],
			"default": "dot-style-1"
		},
		{
			"type": "header",
			"content": "Slides"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slides",
			"label": "Auto rotate slides",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slides_every",
			"min": 1,
			"max": 20,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "select",
			"id": "number_of_columns_on_desktop",
			"label": "Number of columns on desktop",
			"options": [
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "6",
					"label": "6"
				}
			],
			"default": "3"
		},
		{
			"type": "select",
			"id": "number_of_columns_on_mobile",
			"label": "Number of columns on mobile",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				}
			],
			"default": "1"
		},
		{
			"type": "checkbox",
			"id": "slider_overflow",
			"label": "Slider overflow",
			"default": true
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Section color scheme",
			"info": "This color scheme applies to the border and shadow of cards. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-configure-border-and-shadow-colors-in-sections-with-two-color-schemes)"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "content_color_scheme",
			"label": "Content color scheme",
			"info": "How to use “Color block” and “Color scheme” [learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Collection",
			"type": "collection",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "Defaults by collection image"
				},
				{
					"type": "color_background",
					"id": "image_overlay",
					"label": "Image overlay"
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "inline_richtext",
					"id": "subheading",
					"label": "Subheading"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"info": "Defaults by collection image"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h5"
				},
				{
					"type": "inline_richtext",
					"id": "description",
					"label": "Description"
				},
				{
					"type": "select",
					"id": "desktop_content_position",
					"label": "Desktop content position",
					"options": [
						{
							"value": "start_start",
							"label": "Top left"
						},
						{
							"value": "start_center",
							"label": "Top center"
						},
						{
							"value": "start_end",
							"label": "Top right"
						},
						{
							"value": "center_start",
							"label": "Middle left"
						},
						{
							"value": "center_center",
							"label": "Middle center"
						},
						{
							"value": "center_end",
							"label": "Middle right"
						},
						{
							"value": "end_start",
							"label": "Bottom left"
						},
						{
							"value": "end_center",
							"label": "Bottom center"
						},
						{
							"value": "end_end",
							"label": "Bottom right"
						}
					],
					"default": "center_start"
				},
				{
					"type": "select",
					"id": "mobile_content_position",
					"label": "Mobile content position",
					"options": [
						{
							"value": "start_start",
							"label": "Top left"
						},
						{
							"value": "start_center",
							"label": "Top center"
						},
						{
							"value": "start_end",
							"label": "Top right"
						},
						{
							"value": "center_start",
							"label": "Middle left"
						},
						{
							"value": "center_center",
							"label": "Middle center"
						},
						{
							"value": "center_end",
							"label": "Middle right"
						},
						{
							"value": "end_start",
							"label": "Bottom left"
						},
						{
							"value": "end_center",
							"label": "Bottom center"
						},
						{
							"value": "end_end",
							"label": "Bottom right"
						}
					],
					"default": "center_start"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link",
					"info": "Default to collection URL"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme” [learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "header",
					"content": "Section"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				},
				{
					"type": "paragraph",
					"content": "This color scheme applies to the border and shadow of cards. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-configure-border-and-shadow-colors-in-sections-with-two-color-schemes)"
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "color",
					"id": "content_text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "content_subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "content_solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "content_solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "content_outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "content_shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Collection list 5-5",
			"settings": {
				"container_full_width": true,
				"enable_spacing_between_items": true,
				"sub_heading": "",
				"heading": "Shop by categories",
				"heading_size": "smi-h2",
				"description": "",
				"heading_alignment": "center",
				"media_height": "l",
				"arrow_style": "arr-style-2",
				"sticky_page_dot_style": "line-style-4",
				"auto_rotate_slides": false,
				"change_slides_every": 5,
				"number_of_columns_on_desktop": "2",
				"number_of_columns_on_mobile": "1",
				"slider_overflow": true,
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_1",
				"content_color_scheme": "scheme_4"
			},
			"blocks": [
				{
					"type": "collection",
					"settings": {
						"collection": "t-shirts-1",
						"image_overlay": "",
						"subheading": "SIGNATURE",
						"heading": "",
						"heading_size": "smi-h4",
						"description": "",
						"desktop_content_position": "center_center",
						"mobile_content_position": "center_center",
						"link": null,
						"button_label": "Shop now",
						"button_style": "solid"
					}
				},
				{
					"type": "collection",
					"settings": {
						"collection": "skirt-set",
						"image_overlay": "",
						"subheading": "SIGNATURE",
						"heading": "",
						"heading_size": "smi-h4",
						"description": "",
						"desktop_content_position": "center_center",
						"mobile_content_position": "center_center",
						"link": null,
						"button_label": "Shop now",
						"button_style": "solid"
					}
				},
				{
					"type": "collection",
					"settings": {
						"collection": "midi-dresses-1",
						"image_overlay": "",
						"subheading": "SIGNATURE",
						"heading": "",
						"heading_size": "smi-h4",
						"description": "",
						"desktop_content_position": "center_center",
						"mobile_content_position": "center_center",
						"link": null,
						"button_label": "Shop now",
						"button_style": "solid"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"shadow_color": "#000000",
						"content_text_color": "#ffffff",
						"content_subtext_color": "#ffffff",
						"content_solid_background_button_color": "#ffffff",
						"content_solid_button_label_color": "#63513f",
						"content_outline_button_color": "#ffffff",
						"content_shadow_color": "#ffffff"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>

(function (){
    class SMI_Slide{
        swiper = null;
        sectionId = null;
        sectionEl = null;
        constructor(sectionId) {
            this.sectionId = sectionId.replace('smi-','');
            this.sectionEl = document.querySelector(`#${sectionId}`);
            this.addClassBorderRadius0();
            this._swiper();
        }
        _swiper(){
            if (typeof Swiper === "undefined") return null;
            const self = this;
            const swiperEl = this.sectionEl.querySelector('.smi-swiper');
            const nextEl = this.sectionEl.querySelector('.arrow-slider-right');
            const prevEl = this.sectionEl.querySelector('.arrow-slider-left');
            const paginationEl = this.sectionEl.querySelector('.smi-pagination');
            let swiperParams = {
                slidesPerView: 'auto',
                loop: false,
                watchSlidesProgress: true,
                pagination: {
                    el: paginationEl,
                    clickable: true,
                },
                navigation: {
                    nextEl: nextEl,
                    prevEl: prevEl,
                },
                on:{
                    afterInit(){
                        self._verticalAlignNavigation();
                        self._handlePagination();
                    }
                }
            }

            try {
                const swiperOptions = JSON.parse(swiperEl.getAttribute("data-swiper-options"));
                swiperParams = {...swiperParams, ...swiperOptions}

                if(swiperParams.pageDotStyle.includes('text-style')){
                    swiperParams.pagination.type = "fraction";
                    delete swiperParams.pageDotStyle;
                }

            }catch (e) {
                console.log("Attribute data-swiper-options invalid JSON!")
            }

            this.swiper = new Swiper(swiperEl, swiperParams);

        }

        _verticalAlignNavigation(){
            const n = this.sectionEl.querySelector('.smi-swiper-navigation');
            const wrap = this.sectionEl.querySelector('.smi-swiper-controls');
            n.style.transform = `translateY(-${wrap.offsetHeight/2} px)`;
        }

        _handlePagination(){
            if (this.sectionEl.querySelector('.swiper-pagination-lock')){
                this.sectionEl.querySelector('.smi-swiper-pagination')?.classList.add('smi-d-none')
            }
        }
        addClassBorderRadius0(){
            const gap0 = this.sectionEl.querySelector('.smi-content-gap-0')
            if (gap0){
                const computedStyle = getComputedStyle(gap0);
                const radiusValue = computedStyle.getPropertyValue('--border-radius');

                if (radiusValue === '0px'){
                    gap0.classList.add('smi-content-border-radius-0')
                }else {
                    gap0.classList.remove('smi-content-border-radius-0')
                }
            }
        }
    }

    document.addEventListener('DOMContentLoaded',() => {
        new SMI_Slide('smi-{{ section.id }}')
    })

    if (Shopify.designMode){
        new SMI_Slide('smi-{{ section.id }}')
        document.addEventListener('smiReloadSection', (e) => {
            new SMI_Slide('smi-{{ section.id }}')
        })
    }

})();
;

</script>