{% style %}
	.smi-content-settings .smi-content-max-width{width:var(--content-max-width);max-width:100%}.smi-content-settings .content-alignment-left{display:flex;flex-wrap:wrap;justify-content:flex-start;text-align:left}.smi-content-settings .content-alignment-right{display:flex;flex-wrap:wrap;justify-content:flex-end;text-align:right}.smi-content-settings .content-alignment-center{display:flex;flex-wrap:wrap;justify-content:center;text-align:center}@media screen and (min-width: 768px){.smi-content-settings .smi-content-position-left{display:flex;flex-wrap:wrap;justify-content:flex-start}.smi-content-settings .smi-content-position-right{display:flex;flex-wrap:wrap;justify-content:flex-end}.smi-content-settings .smi-content-position-center{display:flex;flex-wrap:wrap;justify-content:center}}.smi-component-blocks-heading{width:100%;justify-content:var(--content-alignment)}.smi-component-blocks-heading .heading-only{max-width:750px}.smi-component-blocks-heading .heading-only-left{margin:auto auto auto 0px}.smi-component-blocks-heading .heading-only-right{margin:auto 0px auto auto}.smi-component-blocks-heading .heading-only-center{margin:auto}.smi-component-blocks-heading .smi-text-75{opacity:.75}.smi-component-blocks-heading .sub-heading{color:rgba(var(--color-subtext), 1);letter-spacing:1px}.smi-component-blocks-heading .description{letter-spacing:var(--body-letter-spacing-scale, 0);margin-bottom:0px !important}.smi-component-blocks-heading .description p{margin-bottom:calc(16px*var(--spacing-elements));font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-component-blocks-heading .description p:last-child{margin-bottom:0px !important}.smi-section-image-with-text-4__2-layer{background:linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04)),var(--gradient-background) !important}.smi-section-image-with-text-4 .smi-content-position-left{display:flex;flex-wrap:wrap;justify-content:flex-start}.smi-section-image-with-text-4 .smi-content-position-right{display:flex;flex-wrap:wrap;justify-content:flex-end}.smi-section-image-with-text-4 .smi-content-position-center{display:flex;flex-wrap:wrap;justify-content:center}.smi-section-image-with-text-4 .smi-container-relative{position:relative}.smi-section-image-with-text-4 .smi-container-detail{overflow:hidden;display:flex;justify-content:center;align-items:stretch;flex-direction:var(--media-position)}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-40{max-width:40% !important}.smi-section-image-with-text-4 .smi-container-detail .small-content-max-width .smi-component-settings-countdown-timer .unit-countdown{width:52px !important}.smi-section-image-with-text-4 .smi-container-detail .small-content-max-width .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-body-scale)*12/16))*var(--body-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-50{max-width:50% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-60{max-width:60% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-100{max-width:100% !important;width:100%}.smi-section-image-with-text-4 .smi-container-detail .smi-collapsible-content{width:100%}.smi-section-image-with-text-4 .smi-container-detail .block-container{width:100%}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*32*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*32/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*28*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*28/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*24*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*20*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*36*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*34/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*32*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*30/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*28*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*26/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*24*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*22/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-detail-container-fluid-no-padding{width:100% !important;margin-inline-start:0 !important;margin-inline-end:0 !important}.smi-section-image-with-text-4 .smi-container-detail .smi-button--outline{background:rgba(var(--color-background), 1)}.smi-section-image-with-text-4 .smi-container-detail .border-content-container-2{border-radius:var(--text-boxes-radius);background:rgba(var(--color-background), 1);border:var(--text-boxes-border-width) solid rgba(var(--color-foreground), 0.2);box-shadow:var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity))}.smi-section-image-with-text-4 .smi-container-detail .border-2-active{border:var(--text-boxes-border-width) solid rgba(var(--color-foreground), 1) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-detail{display:flex;flex-wrap:wrap;align-items:center;grid-gap:0px 24px;padding:calc(var(--spacing-elements)*48px) 48px calc(var(--spacing-elements)*48px) 48px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-detail div:last-child{margin-bottom:0px !important}.smi-section-image-with-text-4 .smi-container-detail .smi-button-wrapper-full-width{max-width:100% !important;width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content{width:100%}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-half-true{width:calc(50% - 12px) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-block-type-divider{font-size:1px;color:rgba(0,0,0,0);height:1px;width:100%;background:rgba(var(--color-foreground), 0.2)}.smi-section-image-with-text-4 .smi-container-detail .smi-block-type-email_form .email-container{width:100%}.smi-section-image-with-text-4 .smi-container-detail .smi-block-type-email_form .email-container form{width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media .smi-rich-content-image{line-height:0}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media .smi-rich-content-image img{max-width:100%;object-fit:cover}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media .smi-rich-content-image svg{max-width:100%;object-fit:cover}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media .smi-rich-content-image .round{border-radius:2000px !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media img,.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media svg.smi-placeholder{position:absolute;width:100%;height:100%;object-fit:cover}.smi-section-image-with-text-4 .smi-container-detail .smi-item__media{position:relative;display:flex;height:auto;line-height:0}.smi-section-image-with-text-4 .smi-container-detail .overlay-img{position:absolute;width:100%;height:100%;background:rgba(var(--color-foreground), 0.04)}@media screen and (max-width: 1600px){.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer,.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer,.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer{--font-heading-scale: 1!important;--font-body-scale: 1 !important;--heading-letter-spacing-scale: 0px !important;--body-letter-spacing-scale: 0px !important}}@media screen and (max-width: 1150px){.smi-section-image-with-text-4 .smi-rich-content-40 .email-container.style-2 .smi-button-wrapper,.smi-section-image-with-text-4 .smi-rich-content-50 .email-container.style-2 .smi-button-wrapper,.smi-section-image-with-text-4 .smi-rich-content-60 .email-container.style-2 .smi-button-wrapper{min-width:160px}}@media screen and (max-width: 1200px){.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-detail{padding:calc(var(--spacing-elements)*48px) 48px calc(var(--spacing-elements)*48px) 48px}.smi-section-image-with-text-4 .smi-rich-content-40 .email-container.style-2 .smi-button-wrapper,.smi-section-image-with-text-4 .smi-rich-content-50 .email-container.style-2 .smi-button-wrapper,.smi-section-image-with-text-4 .smi-rich-content-60 .email-container.style-2 .smi-button-wrapper{width:100%;max-width:100%}.smi-section-image-with-text-4 .smi-rich-content-40 .email-container.style-2 .smi-button-wrapper .button-sub,.smi-section-image-with-text-4 .smi-rich-content-50 .email-container.style-2 .smi-button-wrapper .button-sub,.smi-section-image-with-text-4 .smi-rich-content-60 .email-container.style-2 .smi-button-wrapper .button-sub{width:100%}}@media screen and (max-width: 1150px){.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*28*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*28/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*26*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*28/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*24*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*20*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*34*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*34/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*30*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*30/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*26*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*26/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*22*1px - var(--text-boxes-border-width)/4);line-height:calc((1 + .8/(var(--font-heading-scale)*22/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}}@media screen and (min-width: 1150px){.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .unit-countdown{width:65px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*44*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*32/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*34*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*28/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*26*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*20*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:6px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:6px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-px-md{padding-left:12px;padding-right:12px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px;padding-bottom:4px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2_radius{padding:4px 8px}.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2{padding:4px 8px}}@media screen and (max-width: 900px){.smi-section-image-with-text-4 .smi-container-detail{display:flex;gap:0px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-detail{padding:calc(var(--spacing-elements)*36px) 24px calc(var(--spacing-elements)*36px) 24px}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-40{width:40%;max-width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-50{width:50%;max-width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-60{width:60%;max-width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-half-true{width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-h1{font-size:calc(var(--font-heading-scale)*20*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-h2{font-size:calc(var(--font-heading-scale)*18*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*18/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-h3{font-size:calc(var(--font-heading-scale)*16*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-h4{font-size:calc(var(--font-heading-scale)*14*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*14/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-text-md{font-size:calc(var(--font-body-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-body-scale)*12/16))*var(--body-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-pr-lg{padding-right:2px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-pl-lg{padding-left:2px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-py-sm{padding-top:6px;padding-bottom:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-px-md{padding-left:8px;padding-right:8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-py-xs{padding-top:4px;padding-bottom:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-mr-sm{margin-right:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .smi-ml-sm{margin-left:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .solid_2_radius{padding:4px 8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-40 .solid_2{padding:4px 8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*26*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*28/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*24*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*22*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*18*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*14*1px);line-height:calc((1 + .8/(var(--font-body-scale)*12/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-px-md{padding-left:12px;padding-right:12px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px;padding-bottom:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2_radius{padding:4px 8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2{padding:4px 8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*28*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*28/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*24*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*20*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*16*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*14*1px);line-height:calc((1 + .8/(var(--font-body-scale)*12/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-px-md{padding-left:12px;padding-right:12px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px;padding-bottom:4px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2_radius{padding:4px 8px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2{padding:4px 8px}}@media screen and (max-width: 768px){.smi-section-image-with-text-4 .smi-container-detail{display:flex}.smi-section-image-with-text-4 .smi-container-detail .smi-content-detail-padding-row-reverse{padding-left:48px}.smi-section-image-with-text-4 .smi-container-detail .smi-content-detail-padding-row{padding-right:48px}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-40{max-width:100% !important;width:50% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-50{max-width:100% !important;width:50% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-60{max-width:100% !important;width:50% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-half-true{width:100% !important}}@media screen and (max-width: 768px){.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .unit-countdown,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .unit-countdown,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h1,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h1,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*20*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h2,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h2,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*18*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*18/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h3,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h3,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*16*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h4,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h4,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*14*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*14/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-text-md,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-text-md,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-body-scale)*12/16))*var(--body-line-height-scale, 1)) !important}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-pr-lg,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pr-lg,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-pl-lg,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pl-lg,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-py-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-px-md,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-px-md,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-px-md{padding-left:12px;padding-right:12px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-py-xs,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-xs,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px;padding-bottom:4px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-mr-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-mr-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-ml-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-ml-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .solid_2_radius,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2_radius,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2_radius{padding:4px 8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .solid_2,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2{padding:4px 8px}}@media screen and (max-width: 576px){.smi-section-image-with-text-4 .smi-container-fluid-no-padding .smi-container-detail{padding-left:0px !important;padding-right:0px !important}.smi-section-image-with-text-4 .smi-container-fluid-no-padding .smi-container-detail .smi-rich-content-detail{padding-left:24px !important;padding-right:24px !important;padding-top:0px}.smi-section-image-with-text-4 .smi-container-fluid-no-padding .smi-container-detail .smi-detail-container-fluid-no-padding{margin:0px;width:100% !important;margin-inline-end:0px !important}.smi-section-image-with-text-4 .smi-container-detail{flex-direction:column-reverse;padding-left:0px !important;padding-right:0px !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-detail{padding-left:24px !important;padding-right:24px !important;padding-top:0px}.smi-section-image-with-text-4 .smi-container-detail .smi-content-detail-padding-row-reverse{padding-left:0px}.smi-section-image-with-text-4 .smi-container-detail .smi-media-height-adapt{min-height:unset;height:auto !important}.smi-section-image-with-text-4 .smi-container-detail .smi-content-detail-padding-row{padding-right:0px}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media{margin-bottom:calc(var(--spacing-elements)*36px)}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media img,.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media svg{position:relative !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-media .smi-placeholder{position:relative !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-40{max-width:100% !important;width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-50{max-width:100% !important;width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-w-md-60{max-width:100% !important;width:100% !important}.smi-section-image-with-text-4 .smi-container-detail .smi-rich-content-half-true{width:100% !important}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .unit-countdown,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .unit-countdown,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h1,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h1,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*38*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*38/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h2,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h2,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*32*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*32/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h3,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h3,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*26*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*26/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h4,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h4,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*20*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-text-md,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-text-md,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-pr-lg,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pr-lg,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:24px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-pl-lg,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pl-lg,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:24px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-py-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:12px;padding-bottom:12px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-px-md,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-px-md,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-px-md{padding-left:16px;padding-right:16px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-py-xs,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-xs,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-mr-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-mr-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-ml-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-ml-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .solid_2_radius,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2_radius,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2_radius{padding:4px 12px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .solid_2,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2{padding:4px 12px}.smi-section-image-with-text-4 .smi-media-height-xxs-small{min-height:unset;height:100px !important}.smi-section-image-with-text-4 .smi-media-height-x-small{min-height:unset;height:150px !important}.smi-section-image-with-text-4 .smi-media-height-small{min-height:unset;height:200px !important}.smi-section-image-with-text-4 .smi-media-height-medium{min-height:unset;height:260px !important}.smi-section-image-with-text-4 .smi-media-height-medium{min-height:unset;height:310px !important}.smi-section-image-with-text-4 .smi-media-height-large{min-height:unset;height:370px !important}}@media screen and (max-width: 400px){.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .unit-countdown,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .unit-countdown,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .unit-countdown{width:52px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h1,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h1,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*30*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*30/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h2,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h2,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*26*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*26/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h3,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h3,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*24*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-h4,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-h4,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*20*1px);line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-text-md,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-text-md,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-pr-lg,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pr-lg,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:12px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-pl-lg,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-pl-lg,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:12px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-py-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-px-md,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-px-md,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-px-md{padding-left:8px;padding-right:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-py-xs,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-py-xs,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:8px;padding-bottom:8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-mr-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-mr-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:6px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-ml-sm,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-ml-sm,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:6px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .solid_2_radius,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2_radius,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2_radius{padding:2px 8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .solid_2,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .solid_2,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .solid_2{padding:2px 8px}.smi-section-image-with-text-4 .smi-rich-content-40 .smi-component-settings-countdown-timer .smi-rich-content-half-true,.smi-section-image-with-text-4 .smi-rich-content-50 .smi-component-settings-countdown-timer .smi-rich-content-half-true,.smi-section-image-with-text-4 .smi-rich-content-60 .smi-component-settings-countdown-timer .smi-rich-content-half-true{width:100%}}
{% endstyle %}
{% comment %}#component#["settings/container-width","settings/media-width","settings/media-position","settings/media-height","settings/content-settings","settings/section-padding","settings/rich-content-heading","settings/buttons","blocks/color","blocks/background","settings/design-mode","settings/animation-settings","settings/countdown-timer"]#endcomponent#{% endcomment %}
<style>
    {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
          #shopify-section-{{ section.id }}{
      }
      #smi-{{ section.id }} {
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
;
        --content-max-width: {{ section.settings.content_max_width }}px;;
        {% if section.settings.padding_bottom == 0 %}
          --no-padding-bottom: 36px;
          {% else %}
          --no-padding-bottom: 0px;
        {% endif %}
        {% if section.settings.padding_top == 0 %}
          --no-padding-top: 36px;
          {% else %}
          --no-padding-top: 0px;
        {% endif %}
        --content-alignment: {{ section.settings.content_alignment }};
        --content-position: {{ section.settings.content_position }};
        --media-position: {{ section.settings.desktop_media_position }};
        {% assign backgroundblock = section.blocks | where: 'type', 'background' | first %}
        {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
        {% assign has_backgroundblock = false %}
        {% assign has_colorblock = false %}
        {% for block in section.blocks %}
          {% if block.type == "background" %}
            {% assign has_backgroundblock = true %}
            {% elsif block.type == "color" %}
            {% assign has_colorblock = true %}
          {% endif %}
        {% endfor %}
        {% if has_backgroundblock == true %}
          --background: {{ backgroundblock.settings.background_simple.red }}, {{ backgroundblock.settings.background_simple.green }},{{ backgroundblock.settings.background_simple.blue }};
          --background-overlay: {{ backgroundblock.settings.background_simple.red }}, {{ backgroundblock.settings.background_simple.green }},{{ backgroundblock.settings.background_simple.blue }};
          .smi-background-2-layer {
            {% comment %} background: linear-gradient(rgba(var(--color-foreground),0.04),rgba(var(--color-foreground),0.04)),linear-gradient(var(--background),var(--background))!important; {% endcomment %}
          }
          .smi-container-detail {
            {% comment %} background: rgba(var(--background), 1) !important; {% endcomment %}
          }
          {% else %}  
        {% endif %}
        {% if has_colorblock == true %}
          {% if colorblock.settings.background_gradient_color == blank %}
            .smi-container-detail {
              background: rgba({{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }}, {{ colorblock.settings.background_color.blue }}, 1) !important;
            }
            background: linear-gradient(rgba(var(--color-foreground),0.04),rgba(var(--color-foreground),0.04)),linear-gradient(var(--gradient-background),var(--gradient-background))!important;
            {% else %}
            .smi-container-detail {
              {% comment %} {% if has_backgroundblock %} {% endcomment %}
                background: rgba({{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }}, {{ colorblock.settings.background_color.blue }}, 1) !important;
              {% comment %} {% endif %} {% endcomment %}
            }
            background: linear-gradient(rgba(var(--color-foreground),0.04),rgba(var(--color-foreground),0.04)),var(--gradient-background)!important;
          {% endif %}
        {% else %}
          .smi-container-detail {
            {% comment %} {% if section.settings.color_scheme.settings.smi_background_gradient == blank %}
            background: linear-gradient(rgba(var(--color-foreground),0),rgba(var(--color-foreground),0)), rgb({{ section.settings.color_scheme.settings.smi_background.red }}, {{ section.settings.color_scheme.settings.smi_background.green }}, {{ section.settings.color_scheme.settings.smi_background.blue }})!important;
            {% else %}
              {% comment %} {% if has_backgroundblock %} {% endcomment %}
                background: rgb({{ section.settings.color_scheme.settings.smi_background.red }}, {{ section.settings.color_scheme.settings.smi_background.green }}, {{ section.settings.color_scheme.settings.smi_background.blue }});
              {% comment %} {% endif %} {% endcomment %}
            {% endif %} {% endcomment %}
            background: rgb(var(--color-background));
          }
          {% comment %} ..border-content-container-2 {% endcomment %}
          background-attachment: fixed;  
        {% endif %}
    }
</style>
{%- liquid
    assign media_height = section.settings.media_height
    assign media_ratio = section.settings.media_ratio
    assign collapse_index = 0
    assign media_shape = section.settings.media_shape
    assign collapsible_content_type = 4
    assign image = section.settings.upload_image
    assign author_classes = ''
    if media_shape == 'default'
      assign author_classes = 'smi-media-wrapper smi-media-settings smi-border smi-shadow '
      if media_height == 'x-small'
        assign author_classes = author_classes | append: ' smi-media-height-x-small'
      elsif media_height == 'small'
        assign author_classes = author_classes | append: ' smi-media-height-small'
      elsif media_height == 'medium'
        assign author_classes = author_classes | append: ' smi-media-height-medium'
      elsif media_height == 'large'
        assign author_classes = author_classes | append: ' smi-media-height-large'
      endif
    else
      assign author_classes = 'smi-media-wrapper smi-lh-0 smi-overflow-hidden smi-p-relative ' | append: media_shape
    endif
    if media_ratio == 'auto'
      assign author_classes = author_classes | append: ' smi-h-auto'
    else
      assign author_classes = author_classes | append: ' smi-h-100'
    endif
    assign content_position = section.settings.content_position
    assign collapsible_type = section.settings.collapsible_type
    assign has_bg_block = false
-%}  
{% liquid
  assign content_alignment = section.settings.content_alignment
  assign color_pos = 0
  assign bkg_pos = 0
  for block in section.blocks
  if block.type == 'color'
  assign color_pos = forloop.index
  endif
  if block.type == 'background'
  assign bkg_pos = forloop.index
  endif
endfor
%}
<div id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner 
  {% comment %} {% if section.settings.color_scheme.settings.smi_background_gradient == blank %}
  smi-background-2-layer
  {% else %} {% endcomment %}
    smi-gradient
  {% comment %} {% endif %} {% endcomment %}
  smi-section-image-with-text-4__2-layer
  smi-section-image-with-text-4 smi-color-{{ section.settings.color_scheme }}"  data-section="image-with-text-4" data-name="Image with text 4">
   
    <input type="hidden" id="collapsible_type_smi-{{ section.id }}" value="{{ section.settings.collapsible_type }} ">
    {% render 'smi-background' %}
    <div class="smi-container-relative  smi-{{ section.settings.full_width }}">
        <div class="smi-container-detail smi-content-settings {% if section.settings.full_width != 'container-fluid-no-padding' %} smi-content-wrapper smi-border smi-shadow {% endif -%}">
          <div
            class="
            smi-content-detail-padding-{{ section.settings.desktop_media_position }}
              smi-rich-content-detail smi-w-100
              smi-rich-content-{{ 100 | minus: section.settings.desktop_media_width }}
              {% if section.settings.content_max_width < 340 %}
                small-content-max-width
              {% endif %}
              {% if media_shape != 'none' %}
              smi-w-md-{{ 100 | minus: section.settings.desktop_media_width }}
              {% else %}
                  smi-w-md-100
              {% endif%}
              smi-content-settings
            "
          >
          {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
            <div class="smi-detail-{{ section.settings.full_width }} {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}">
              <div
                class="smi-collapsible-content smi-collapsible-content-load5
                smi-section-block-{{ section.id }}"
                data-load='
                  {
                    "openFirst": {{ section.settings.open_first_collapsible_row }}
                  }
                '
                data-block='{
                  "color_pos": "{{ color_pos }}", 
                  "bkg_pos": "{{ bkg_pos }}",
                  "all_block": {{ section.blocks.size }}
                }'
              >
                {% for block in section.blocks %}
                  <div
                    class="
                      block-container
                      smi-block-postion-{{ forloop.index }}-{{ section.id }}
                      content-alignment-{{ section.settings.content_alignment }}
                      smi-content-position-{{ section.settings.content_position }}
                      smi-block-type-{{ block.type }}
                            smi-rich-content
                            {% if block.type == "icon_with_text" %}smi-rich-content-half-{{ block.settings.half_width_on_large_screen }}{% endif %}
                            {% if block.type != "color" and block.type != "background" %}
                              {% if block.type == 'button' %} smi-mb-md
                              {% elsif block.type == "collapsible_content" %}
                                {% if collapsible_type == "2" %}
                                    smi-mb-xs
                                {% endif %}
                              {% else %}
                              {% comment %} {% if block.type != 'countdown_timer' %} {% endcomment %}
                                smi-mb-lg
                              {% comment %} {% endif %} {% endcomment %}
                            {% endif %}
                            {% endif %}
                      "
                      {{ block.shopify_attributes }}
                  >
                    <div
                      class="
                        smi-content-max-width
                        {% if block.type == "button" %}
                          smi-content-position-{{ section.settings.content_alignment }}
                          {%elsif block.type == "countdown_timer" %}
                          content-alignment-{{ section.settings.content_alignment }}
                          {%elsif block.type == "collapsible_content" %}
                          border-content-container-{{ section.settings.collapsible_type }}
                        {% endif %}
                        {% comment %} {% if block.type == "button" %}
                          smi-content-position-{{ section.settings.content_position }}
                        {% endif %}
                            smi-rich-content
                            {% if block.type == "icon_with_text" %}smi-rich-content-half-{{ block.settings.half_width_on_large_screen }}{% endif %}
                            {% if block.type != 'color' %}
                            {% if block.type == 'button' %} smi-mb-md
                            {%else %}
                                  smi-mb-lg
                          {% endif %}
                          {% endif %} {% endcomment %}
                            {% comment %} smi-block-type-{{ block.type }} {% endcomment %}
                      "
                      {% if collapsible_type == '2' %}
                        id="block-{{ block.type }}_{{ forloop.index }}_{{ section.id }}"
                      {% endif %}
                    >
                      {% if block.type == 'heading' %}
                        <div class="smi-component-blocks-heading content-alignment-{{ content_alignment }}">
  <div class="heading-only heading-only-{{ content_alignment }}">
    <p class="smi-text-sub smi-mb-xxs sub-heading smi-link-wrapper" data-type="subheading" data-key="b.heading.sub_heading">{{ block.settings.sub_heading }}</p>
    <h5 class="{{ block.settings.heading_size }} 
        {% if block.settings.description != blank or block.settings.description != ""%} smi-mb-sm {% endif %} smi-link-wrapper" data-type="heading" data-key="b.heading.heading">{{ block.settings.heading}}</h5>
    <div class="smi-text-md smi-text-75 description smi-link-wrapper" data-field="richtext" data-type="description" data-key="b.heading.description">{{ block.settings.description }}</div>
</div>  
</div>
                      {% endif %}
                      {% if block.type == 'heading_content' %}
                        <div class="smi-component-blocks-heading content-alignment-{{ content_alignment }}">
  <div class="heading-content">
    <h5 class="{{ block.settings.heading_size }} smi-mb-xxs smi-link-wrapper" data-type="heading" data-key="b.heading.heading">{{ block.settings.heading }}</h5>
    <div class="description smi-text-md smi-text-75 smi-link-wrapper" data-field="richtext" data-type="description" data-key="b.heading.content">
    {{ block.settings.content }}
    </div>
</div>
</div>
                      {% endif %}
                      {% if block.type == 'button' %}
                        <div class="smi-component-buttons smi-button-wrapper
    {%- if block.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless block.settings.first_button_style contains 'text' or block.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = block.settings.first_button_label
    assign button_style = block.settings.first_button_style
    assign button_link = block.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = block.settings.second_button_label
    assign button_style = block.settings.second_button_style
    assign button_link = block.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
                      {% endif %}
                      {% if block.type == 'countdown_timer' %}
                        <div
   {% comment %} style="margin-bottom: calc(var(--spacing-elements) * 24px) !important;" {% endcomment %}
   class="smi-component-settings-countdown-timer 
   {% comment %} smi-mb-lg {% endcomment %}
  {% if content_max_width >= 530 and content_max_width < 610 %}
    small-container-content
    {% elsif content_max_width < 530 and content_max_width >= 400  %}
      extra-small-container-content
      {% elsif content_max_width < 400 %}
        ex-extra-small-container-content
  {% endif %}
    {% if block.settings.countdown_style == "border" %}border-all
    {%elsif block.settings.countdown_style == "border_radius" %}border-all-radius
{% endif %}" id="count_dount_timer_container_{{ section.id }}">
  <input type="hidden" value="{{ block.settings.end_date_time }}" id="count_down_date_{{ section.id }}">
  <input type="hidden" value="{{ block.settings.countdown_style }}" id="style_countdown_{{ section.id }}">
  <input type="hidden" value="{{ block.settings.number_size }}" id="size_countdown_{{ section.id }}">
  <input type="hidden" value="{{ block.settings.hide_expires }}" id="hide_when_expire_{{ section.id }}">
  <div
    class="
    {% if block.settings.countdown_style contains "solid" %}smi-mr-sm{% endif %}
    {% if block.settings.countdown_style == "classic_1" %}
        smi-pr-lg
      {% elsif block.settings.countdown_style == "classic_2" %} 
        smi-pr-lg smi-classic_2
      {% elsif block.settings.countdown_style contains "border" %}
        smi-py-xs smi-pr-lg smi-pl-lg smi-classic_3
      {% elsif block.settings.countdown_style contains "solid_1" %}
    {% endif %}
    "
  >
    <div class="days-countdown countdown
        {% if block.settings.countdown_style contains "solid_1" %}
      smi-px-md smi-py-sm smi-{{ block.settings.countdown_style }} smi-{{ block.settings.countdown_style }}-{{ block.settings.number_size }}
    {% endif %}
        " id="days_count_down">
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="1_day_unit_{{ section.id }}">D</h3>
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="2_day_unit_{{ section.id }}">D</h3>
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }} hide-days" id="3_day_unit_{{ section.id }}">D</h3>
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }} hide-days" id="4_day_unit_{{ section.id }}">D</h3>
    </div>
    <p class="smi-text-75 unit-countdown smi-text-md">Days</p>
  </div>
  {% unless block.settings.countdown_style contains "classic_2" or block.settings.countdown_style contains "border" %}<span class="smi-text-75">:</span>{% endunless %}
  <div class="
    {% if block.settings.countdown_style contains "solid" %}smi-mr-sm smi-ml-sm{% endif %}
    {% if block.settings.countdown_style == "classic_1" %}
        smi-pr-lg smi-pl-lg
      {% elsif block.settings.countdown_style == "classic_2" %}
        smi-pr-lg smi-pl-lg smi-classic_2
      {% elsif block.settings.countdown_style contains "border" %}
        smi-py-xs smi-pr-lg smi-pl-lg smi-classic_3
      {% elsif block.settings.countdown_style contains "solid_1" %}
    {% endif %}
    ">
    <div class="hours-countdown countdown
        {% if block.settings.countdown_style contains "solid_1" %}
      smi-px-md smi-py-sm smi-{{ block.settings.countdown_style }} smi-{{ block.settings.countdown_style }}-{{ block.settings.number_size }}
    {% endif %}
        " id="hours_count_down">
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="1_hour_unit_{{ section.id }}">H</h3>
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="2_hour_unit_{{ section.id }}">H</h3>
    </div>
    <p class="smi-text-75 unit-countdown smi-text-md">Hours</p>
  </div>
  {% unless block.settings.countdown_style contains "classic_2" or block.settings.countdown_style contains "border" %}<span class="smi-text-75">:</span>{% endunless %}
  <div class="{% if block.settings.countdown_style contains "solid" %}smi-mr-sm smi-ml-sm{% endif %}
    {% if block.settings.countdown_style == "classic_1" %}
        smi-pr-lg smi-pl-lg
      {% elsif block.settings.countdown_style == "classic_2" %}
        smi-pr-lg smi-pl-lg smi-classic_2
      {% elsif block.settings.countdown_style contains "border" %}
        smi-py-xs smi-pr-lg smi-pl-lg smi-classic_3
      {% elsif block.settings.countdown_style contains "solid_1" %}
    {% endif %}
    ">
    <div class="minutes-countdown countdown
        {% if block.settings.countdown_style contains "solid_1" %} smi-{{ block.settings.countdown_style }}-{{ block.settings.number_size }}
      smi-px-md smi-py-sm smi-{{ block.settings.countdown_style }}
    {% endif %}
        " id="minutes_count_down">
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="1_minute_unit_{{ section.id }}">M</h3>
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="2_minute_unit_{{ section.id }}">M</h3>
    </div>
    <p class="smi-text-75 unit-countdown smi-text-md">Minutes</p>
  </div>
  {% unless block.settings.countdown_style contains "classic_2" or block.settings.countdown_style contains "border" %}<span class="smi-text-75">:</span>{% endunless %}
  <div class="{% if block.settings.countdown_style contains "solid" %}smi-ml-sm{% endif %}
    {% if block.settings.countdown_style == "classic_1" %}
        smi-pl-lg
      {% elsif block.settings.countdown_style == "classic_2" %}
        smi-pl-lg
      {% elsif block.settings.countdown_style contains "border" %}
        smi-pr-lg smi-pl-lg
      {% elsif block.settings.countdown_style contains "solid_1" %}
    {% endif %}
    ">
    <div class="seconds-countdown countdown
        {% if block.settings.countdown_style contains "solid_1" %}
      smi-px-md smi-py-sm smi-{{ block.settings.countdown_style }} smi-solid_1-{{ block.settings.number_size }}
    {% endif %}
        " id="2onds_count_down_{{ section.id }}">
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="1_second_unit_{{ section.id }}">S</h3>
        <h3 class="{{ block.settings.countdown_style }} {{ block.settings.number_size }}" id="2_second_unit_{{ section.id }}">S</h3>
    </div>
    <p class="smi-text-75 unit-countdown smi-text-md">Seconds</p>
  </div>
</div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="smi-item__media smi-rich-content-media smi-w-100 smi-w-md-{{ section.settings.desktop_media_width }} smi-media-height-{{ section.settings.media_height }} {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}" data-type="image" data-key="s.upload_image">
            {%- if image != blank -%}
              {{ image | image_url: width: 750 | image_tag: loading: 'lazy', class: '' }}
            {% else %}
              {{ 'blog-apparel-3' | placeholder_svg_tag: 'smi-placeholder' }}
            {%- endif -%}
            <div class="overlay-img">
              <div>
          </div>
        </div>
      </div>
</div>
{% schema %}
{
	"name": "Image with text 4-1",
	"tag": "section",
	"class": "smi-section smi-image-with-text-4",
	"settings": [
		{
			"type": "select",
			"id": "full_width",
			"label": "Layout",
			"options": [
				{
					"value": "container",
					"label": "Boxed"
				},
				{
					"value": "container-fluid",
					"label": "Full width"
				},
				{
					"value": "container-fluid-no-padding",
					"label": "Full width(no padding)"
				}
			],
			"default": "container"
		},
		{
			"type": "image_picker",
			"id": "upload_image",
			"label": "Image"
		},
		{
			"type": "select",
			"id": "desktop_media_width",
			"label": "Desktop media width",
			"options": [
				{
					"value": "40",
					"label": "S"
				},
				{
					"value": "50",
					"label": "M"
				},
				{
					"value": "60",
					"label": "L"
				}
			],
			"default": "50"
		},
		{
			"type": "select",
			"id": "desktop_media_position",
			"label": "Desktop media position",
			"options": [
				{
					"value": "row-reverse",
					"label": "Left"
				},
				{
					"value": "row",
					"label": "Right"
				}
			],
			"default": "row"
		},
		{
			"type": "select",
			"id": "media_height",
			"label": "Media height",
			"options": [
				{
					"value": "xxs-small",
					"label": "XXS"
				},
				{
					"value": "x-small",
					"label": "XS"
				},
				{
					"value": "small",
					"label": "S"
				},
				{
					"value": "medium",
					"label": "M"
				},
				{
					"value": "large",
					"label": "L"
				}
			],
			"default": "medium"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of Styles section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Opening Hours"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h3"
				},
				{
					"type": "richtext",
					"id": "description",
					"default": "<p>Enjoy 10% off on your first purchase and be the first to know about new releases, latest stories and offers.</p>",
					"label": "Description"
				}
			]
		},
		{
			"type": "button",
			"name": "Buttons",
			"settings": [
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "checkbox",
					"id": "button_full_width",
					"label": "Button full-width",
					"default": false
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use Color block and Color scheme. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Image with text 4-1",
			"settings": {
				"full_width": "container",
				"upload_image": "shopify://shop_images/smi-smi-smi-clothing_-_33_33cdb3ff-3361-466f-bca1-4c0d6810868b.jpg",
				"desktop_media_width": "50",
				"desktop_media_position": "row",
				"media_height": "medium",
				"content_position": "left",
				"content_alignment": "left",
				"content_max_width": 720,
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_2"
			},
			"blocks": [
				{
					"type": "heading",
					"settings": {
						"sub_heading": "TRENDING STYLES",
						"heading": "Fashion forward apparel",
						"heading_size": "smi-h2",
						"description": "<p>From casual everyday wear to sophisticated evening attire, we curate pieces that cater to diverse tastes and lifestyles. Dive into our selection and discover clothing.</p>"
					}
				},
				{
					"type": "button",
					"settings": {
						"first_button_label": "Shop now",
						"first_button_link": null,
						"first_button_style": "solid",
						"second_button_label": "",
						"second_button_link": null,
						"second_button_style": "solid",
						"button_full_width": false
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#fcf8f5",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#fcf8f5",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
window.addEventListener("DOMContentLoaded", (event) => {
  const currentEl = document.getElementById('smi-{{ section.id }}'); 
});
(function () {
    'use strict';
      class SMI_Countdown3 {
          sectionEl = null;
            
        constructor(sectionID) {
            this.removeLastMB(sectionID);

        }

        removeLastMB(secId){
            const parent = document.querySelector(`.smi-section-block-${secId.replace("smi-","")}`)
            if (parent) {
                let options = JSON.parse(parent.getAttribute('data-block'));
                let color_pos = parseInt(options.color_pos)
                let bkg_pos = parseInt(options.bkg_pos)
                let all_block = parseInt(options.all_block)
                let block_after = color_pos > bkg_pos ? color_pos : bkg_pos
                let block_before = color_pos > bkg_pos ? bkg_pos : color_pos
                let delete_mb = 0
                if(block_after == all_block){
                    if(block_before == (block_after - 1)){
                        delete_mb = block_before - 1
                    }else{
                        delete_mb = block_after - 1
                    }
                }
                let list_mb = ['smi-mb-xxl','smi-mb-xl', 'smi-mb-lg', 'smi-mb-md', 'smi-mb-sm', 'smi-mb-xs']
                if(delete_mb > 0){
                    list_mb.forEach(index=>{
                        document.querySelector(`.smi-block-postion-${delete_mb}-${secId.replace("smi-","")}`).classList.remove(index)
                    })
                }

            }
          }
    }

    document.addEventListener('DOMContentLoaded', () => {
        new SMI_Countdown3('smi-{{ section.id }}')
    });

    if (Shopify.designMode) {
        new SMI_Countdown3('smi-{{ section.id }}')
    }
})();

</script>